[2016-07-14 14:10] vanloc0301 opened #2 "Problem when using command: `php artisan migrate -seed`"
When goto step:

`php artisan migrate -seed`

Will show error like this.

[code]

I tried `php artisan list` and this show:

[code]

Seem `artisan` have problem. I'm do with your guide step by step.

[2016-07-14 14:34] Bottelet commented on #2
@vanloc0301 Sorry try --seed instead of -seed. I see i made a small error there.

[2016-07-14 15:04] #2 closed

[2016-07-14 15:15] SuperlativeEntity opened #3 "Round 1: Suggestions"
You can use custom middleware for these checks: $canCreateUser = Auth::user()->canDo('user.create');
Have a look at the repository pattern
Use pjax (loading views) and ajax (posts,gets etc.)
Use custom requests for validation (has an authorize method for canDo('user.create'); as well)
Store paths in a config file
You don't need to prefix foreign keys with fk, it's assumed to be a foreign key if it

[2016-07-14 16:46] Bottelet opened #4 "Clean up & use PSR2"
Clean up comments, not used code, and change code style to PSR2 standard

[2016-07-14 16:59] Bottelet opened #5 "Slack Integration"
Write to a certain slack channel when for example.
- Lead is completed
- Task is completed
- New client is created

Give the user options in frontend to choose how slack should behave, whenever something happens.

[2016-07-14 18:11] Bottelet commented on #3
Thank you @SuperlativeEntity, I appreciate the feedback, and will definitely look into it.

[2016-07-15 20:44] #4 closed

[2016-07-15 20:45] Bottelet opened #6 "Request validation"
Use Request class injection for validation instead of newing up a new validator in every post method.

[2016-07-15 22:12] Bottelet opened #8 "Unit test"
Create unit tests for all the functions, and pages etc.

[2016-07-16 19:58] #6 closed

[2016-07-16 20:18] Bottelet opened #9 "Excel Import/export"
Export users, clients, tasks, and leads as XML or CSV, And be able to upload clients etc, from other XML/CSV files to Flarepoint

[2016-07-18 19:26] Bottelet commented on #3
@SuperlativeEntity
I made use of :

- Middlewares for checks
- Request for validation
- Also, I put my errors into the Master instead.

I am not sure what you mean by the following if you would bare to elaborate:

- PJax and Ajax, how would you do it differently than now?
- Have a look at the repository pattern (It's on the to-do :))
- Store paths in a config file. Which paths are we exactly talki

[2016-07-19 12:11] #3 closed

[2016-07-19 12:12] Bottelet opened #11 "Repository/Interface pattern"
Controllers should only receive requests and return responses. Make use of Repository/Interface pattern using Laravels IoC.

[2016-07-19 15:04] Bottelet opened #12 "Meeting room booking"
Be able to insert the meeting rooms an office has, in settings somewhere, and then book the rooms for different meetings, with an easy overview of use. I'm thinking it should be able to:

Choose attendees for the meeting.
Date and time
If it's in-house or out-house and if in-house choose which meeting room they wanna book.
And the standard title, and description.

[2016-07-21 09:42] #11 closed

[2016-07-21 20:57] Bottelet opened #13 "Inovoice system"
Create an invoice with TimeTask, see the invoice, set status if they are sent if payments are received, see the total amount for each customer etc.

[2016-07-26 20:08] Bottelet opened #14 "Integration not finding correct ID"
Currently a minor bug with Dinero and Billy (Billing integrations) not finding a ID. Will be fixed asap.

[2016-07-31 18:37] #14 closed

[2016-07-31 18:38] Bottelet commented on #14
bbe6cfde5c931b5caa341a085df8868eae7a88c0

[2016-07-31 20:51] Bottelet commented on #13
First part 128d8ab5296e82343d108c2f90f14328f0d50f95. Still some work to do, but can see the different invoices for each client under a new invoices tab, in client show page. where you can also go to the invoice show page for more information, and set the different status.

[2016-08-25 06:54] #13 closed

[2016-08-27 12:32] YazeedAlsaif opened #17 "Add RTL support"
Hello

I have been searching for something like this for a long time.

Is there a plan to support RTL languages? I am here to help if you wish with Arabic in design & translation.

Thanks :) :+1:

[2016-08-27 13:02] Bottelet commented on #17
Hello @YazeedAlsaif, It was the plan to integrate some translation to the CRM, and I will also look into RTL. I am not 100% sure, when I will get it done, but might be one of the next things I look at

[2016-09-01 05:00] mklahorst opened #19 "Class 'App\Department' not found on install"
Went through installation procedures and had some errors as shown below.  At the very end I posted my error log as well when attempting to access the CRM.

When running this during setup:

     php artisan migrate --seed

I received the following issues:

`Seeded: IndustriesTableSeeder
PHP Fatal error:  Class 'App\Department' not found in /Applications/MAMP/htdocs/git/laravel/flarepoint/database/s

[2016-09-01 07:07] Bottelet commented on #19
Thank you, i will fix this as soon as i get home! Seems to be fairly straightforward.

[2016-09-01 14:31] xiaohuaibao commented on #19
hi, i wish this issue will be fixed tomorrow.
 p( ^ O ^ )q

[2016-09-01 19:17] Bottelet commented on #19
@mklahorst and @xiaohuaibao

It should be fixed now, sorry for the problem. Please do tell if you run into more trouble, and I'll see if I can fix it.

Pull down the latest changes and do a migrate:refresh or reset, and you should be all set.

[2016-09-01 19:17] #19 closed

[2016-09-01 19:51] mklahorst commented on #19
Hmm, I did both a pull and migrate:refresh - same error.

I started instructions from scratch and received NO ERROS on installation procedures, but still seeing this error in my log with a no load 500 on frontend.

[01-Sep-2016 12:49:20 America/Los_Angeles] PHP Parse error:  syntax error, unexpected '.', expecting '&' or variable (T_VARIABLE) in /Applications/MAMP/htdocs/git/laravel/flarepoint/ven

[2016-09-01 20:06] Bottelet commented on #19
Hmmm, that's very weird @mklahorst, just tried doing a fresh install, and didn't run into any troubles. Can you try doing a composer dump and artisan clear-compiled. Even though i don't see how it should fix it, if it is a fresh installation.

[2016-09-01 21:03] mklahorst commented on #19
Yeah - did both items and still have the same error.

I have successfully created 2 other laravel projects on my local so I don't think it's a configuration issue (per se) with my MAMP on Mac.

Any of things I could try?

[2016-09-02 01:08] mklahorst commented on #19
Yeah, still same issue.

Sincerely,

Matthew Klahorst
714-458-8697

On Thu, Sep 1, 2016 at 12:17 PM, Casper Bottelet <notifications@github.com>
wrote:

[2016-09-02 03:37] syoukaihou commented on #19
@mklahorst hmm, what is your php version? it works in my server.
`"php": ">=5.6.4",`

[2016-09-02 03:40] syoukaihou commented on #19
![qq 20160902113947](https://cloud.githubusercontent.com/assets/16933900/18191935/0749fad6-7102-11e6-9ad9-5c646a324c29.png)

[2016-09-02 18:55] mklahorst commented on #19
I will confirm my PHP version and upgrade if needed and let you know.

Thanks!

[2016-09-04 15:16] avoidik opened #20 "Can't install due to PDO class not found error"
**composer install** throws:
[code]
**php** and **php-cli** provides this info for **print_r(PDO::getAvailableDrivers());**
[code]
**phpinfo** shows that pdo is enabled.
PHP Version 5.6.16

What's problem here?

[2016-09-04 15:20] avoidik commented on #20
This is the shared hosting and i'm using this command.
[code]

[2016-09-04 15:24] avoidik commented on #20
I'm sorry. Solved this by myself.
[code]
and then just
[code]

[2016-09-04 20:20] Bottelet commented on #20
Perfect @avoidik  :+1: , sorry for the late response

[2016-09-04 20:20] #20 closed

[2016-09-04 20:20] Bottelet commented on #19
@mklahorst Did you get it to work?

[2016-09-04 22:33] mklahorst commented on #19
Yes, thank you for the help. It was related to MAMP and CLI issues. Upgraded to MAMP PRO 4 and reinstalled and got it working.

[2016-09-04 22:35] mklahorst opened #21 "Adding Task Error"
When attempting to add a new task, got this error:

FatalThrowableError in TaskRepository.php line 52:
Non-static method Fenos\Notifynder\Notifynder::category() cannot be called statically
in TaskRepository.php line 52
at TaskRepository->create(array('_token' => 'n2tlkrb9jbNPPh6aw1T9sTQ3Yks0Vo6ijVPxZkLP', 'title' => 'asdf', 'description' => 'asdf', 'deadline' => '2016-09-07', 'status' => '1', 'fk_

[2016-09-05 18:18] Bottelet commented on #21
sorry for that @mklahorst it is fixed now...
https://github.com/Bottelet/Flarepoint-crm/commit/961f8ccc0b05d8dd4b5d11434bb065878240c7c9

[2016-09-05 18:18] #21 closed

[2016-09-05 18:37] mklahorst commented on #21
Confirmed - thank you!

[2016-09-24 10:00] Bottelet commented on #17
I am currently working on translations, and will also look into RTL

[2016-10-08 18:51] MAliRazasaeed opened #24 "Create user"
When i create new user I give him department but it show exception like.
The departments field is required.
Image attached:
![capture](https://cloud.githubusercontent.com/assets/21223565/19215238/ec30c12c-8db1-11e6-864e-2a0cdcfbef3c.PNG)

[2016-10-09 13:52] Bottelet commented on #24
Thanks for the heads up @MAliRazasaeed It is fixed now https://github.com/Bottelet/Flarepoint-crm/commit/4b7141b56c7e28f46d1059cb92297bc582a002f2, you can just pull down the changes and all should be good!

[2016-10-09 13:52] #24 closed

[2016-10-09 14:58] MAliRazasaeed commented on #24
Thanks for your help. you are awesome man.

[2016-10-09 15:17] MAliRazasaeed opened #25 "Error in image selection"
Dear: When i select the image to create New user it give Exception error:

images are attached:
![12345](https://cloud.githubusercontent.com/assets/21223565/19221458/53fd8dac-8e5d-11e6-831f-c0f436b38dfd.PNG)
![1233](https://cloud.githubusercontent.com/assets/21223565/19221459/54f0740e-8e5d-11e6-82dc-250960dde784.PNG)

[2016-10-09 15:47] Bottelet commented on #25
Thanks again, for finding an error, I will look into it later, and see if I can get it fixed tonight! or hopefully tomorrow

[2016-10-10 17:49] Bottelet commented on #25
Hmm okay, it seems like the entire Image "system" is failing me, I will have to give it a look over the weekend, or if I get some more time throughout the week. Sorry bout it @MAliRazasaeed.

[2016-10-14 14:08] MAliRazasaeed opened #26 "In All Department delete function not working."
Thanks for considering my requests. A little more bug. In setting/Role management/All Department /delete function doesn’t work. When I click delete it give exception error.
Image are Attached:

![image](https://cloud.githubusercontent.com/assets/21223565/19390414/752aeeec-9241-11e6-8ab4-1d601b94e1b3.png)

[2016-10-16 14:24] Bottelet commented on #25
Fixed https://github.com/Bottelet/Flarepoint-crm/commit/5091b74bedb4c3e0c8dd3268a05c34d6edd8f2c9 :)

[2016-10-16 14:24] #25 closed

[2016-10-19 04:48] mommand opened #27 "Hi, I am getting this error after installation by this url (localhost:8888/crm3/public) this is error(Parse error: syntax error, unexpected '.', expecting '&' or variable (T_VARIABLE) in /Applications/MAMP/htdocs/crm3/vendor/laravel/framework/src/Illuminate/Foundation/helpers.php on line 475)"

[2016-10-19 16:12] Bottelet commented on #27
Hmm this seems very weird, can you explain in steps what you are doing @mommand?

[2016-10-27 12:45] cerelli opened #28 "Installation error"
When i try to install
`composer install`
This is the error
Your requirements could not be resolved to an installable set of packages

Why?

Thanks

[2016-10-27 12:48] cerelli commented on #28
excuse me, but i can launch a
`composer create-project .....` after ???

[2016-10-27 13:17] cerelli commented on #28
`[marco@marco-note flarepoint]$ composer install
Failed loading /usr/lib/php/modules/ZendGuardLoader.so:  /usr/lib/php/modules/ZendGuardLoader.so: undefined symbol: zval_used_for_init
PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/lib/php/modules/odbc.so' - /usr/lib/php/modules/odbc.so: cannot open shared object file: No such file or directory in Unknown on line 0
PHP Warning:  PH

[2016-10-27 19:46] Bottelet commented on #28
Hmmm, this seems very weird I will try and see if I can recreate the same error over the weekend. Haven't had any problems with composer install myself. and create-project shouldn't be necessary. Also can you tell me your composer version @cerelli

[2016-10-27 21:14] cerelli commented on #28
Composer is 1.2.1
I try again and the error in the browser is:
`Not Found

The requested URL /flarepoint/public/login was not found on this server.`

[2016-10-28 17:18] Bottelet commented on #28
So you got past the composer error, @cerelli? Did you rename the project? Else it should be Flarepoint-crm/public if you want to access it with another url, it should be as simple as renameing the folder. Or is it something else?

[2016-10-29 21:31] cerelli commented on #28
The requested URL /Flarepoint-crm/public/login was not found on this server.

[2016-10-30 12:27] Bottelet commented on #28
Hmm sounds like some apache problem, from what i can read. Have you changed any settings? and is it only with the crm or all sites?

[2016-10-30 12:27] #27 closed

[2016-11-02 07:48] sydwang opened #30 "work number and personal number"
work number and personal number( user table) are both defined as integer, that would cause the numbers starting with 0 can't be stored as well as displayed correctly.
Defining them as string will be better, I think.
Thank you.

[2016-11-02 18:08] Bottelet commented on #30
Very good point @sydwang, i will definitely change this. Thanks for the suggestion.

[2016-11-02 18:45] Bottelet commented on #26
@MAliRazasaeed Sorry for the very late fix, been a bit busy, but this has been fixed in the last commits:
https://github.com/Bottelet/Flarepoint-crm/commit/39bc616af935ba8aa4301056d18fc01680dc7804
https://github.com/Bottelet/Flarepoint-crm/commit/3c5b865f7ba6a7039019f8eb690ae2e6857dc474
https://github.com/Bottelet/Flarepoint-crm/commit/5b368db51e7dc16772355ee61a2b4a8ef8ff170d

It is gonna require

[2016-11-02 18:45] #26 closed

[2016-11-02 18:51] Bottelet commented on #30
https://github.com/Bottelet/Flarepoint-crm/commit/027ce6bc1d3402383b84172d8c1d4a30f6e1e007

Thank you again, I appreciate it... Also fixed it on clients, number, VAT, and zip code.

[2016-11-02 18:51] #30 closed

[2016-11-02 21:02] Bottelet commented on #17
@YazeedAlsaif I have to admit, I'm not sure how 100% to add RTL, but it is translatable now, but gonna have to research this a bit, so I'm not gonna put it as a top priority atm.

[2016-11-07 15:56] Melcus opened #33 "403 Forbidden Laragon"
Hey. Just after a clean clone, composer install, php artisan migrate --seed, php artisan key:generate i get `403 Forbidden` . Is this a known issue on windows?

[2016-11-07 16:09] #33 closed

[2016-11-07 16:09] Melcus commented on #33
My bad. Permission stuff

[2016-11-07 16:52] Bottelet commented on #33
No worries :)

[2016-11-13 00:34] #28 closed

[2016-11-21 11:19] vernard opened #34 "Modularization of features"
Hi. I see a lot of potential with this project. I'm even considering using it as my own CRM.

With these potentials, it might become a bloated app in the future. Which is why I want to propose to add settings on what modules are enabled to make the app flexible to use for both corporate and small businesses.

For me, I don't need the "Departments" thing because I work alone. Let alone the "Office

[2016-11-21 17:54] Bottelet commented on #34
Hi @vernard
I have been thinking about something like that, but I am not sure how to approach it 100%

But it's a good idea! and I will definitely consider it. If you have any good idea on how to approach it i am all ears!

[2016-11-22 16:56] #34 closed

[2016-11-24 13:22] trixanapp opened #36 "Class 'App\Models\roleUser' not found"
Insertion of dummy data
php artisan db:seed --class=UsersDummyTableSeeder (Creates 5 extra users and are required)
change: use App\Models\roleUser on use App\Models\RoleUser ...

[2016-11-24 16:59] Bottelet commented on #36
I agree, Thanks

https://github.com/Bottelet/Flarepoint-crm/commit/91d69689f3cc55030c14c451ef4fcb8099e140a4

[2016-11-24 16:59] #36 closed

[2017-01-04 19:39] FrankBloo opened #37 "User tagging"
Hi,

First of all I would like to thank you for this project, it looks very promising. We are thinking about to use this in one of our student committee. Only we need to do a small adjustments to make sure the its matches our operations.

I read the readme file and you mention the user tagging feature, i really like this feature. Do you by chance have any idea when you are going to implement this?

[2017-01-04 20:44] Bottelet commented on #37
Hi Frank

Thank you.
I don't currently have any timeline on it, but it is one of the things I really want to be made, as I believe it improves the CRM significantly. So it is on the top of the list of to-do

[2017-01-04 20:46] #17 closed

[2017-01-04 20:47] FrankBloo commented on #37
Okay, thank you for your quick answer. I understand its hard to have a timeline for it since it is complex to implement it.

[2017-01-04 20:47] Bottelet commented on #8
Simple PHPUnit test is added, more will come over time, but it is a start. Also added Travis CI support

77c91a9664f55a1cfccf741309ce285f38020c55

[2017-01-04 20:47] #8 closed

[2017-01-04 22:13] #37 closed

[2017-01-13 08:03] EDDYMENS commented on #9
Also, I am looking at the import and export issue. How should it be? A whole new tab were all imports & exports happen?

[2017-01-13 08:44] Bottelet commented on #9
I'm thinking on the clients, tasks index page etc. that there should be an import/export button where you can upload the XML/CSV etc to the database

[2017-01-13 08:58] EDDYMENS commented on #9
Ah got it. Either ways works . It's why I wanted to know if you had a preference.

[2017-01-15 08:24] mefist1990 opened #40 "Add buttons to delete files, see Client"
Add buttons to delete files, see the Client, as not the file you want to delete is not possible to.

[2017-01-17 08:36] mefist1990 commented on #40
Added ability to delete documents from the clients
https://github.com/Bottelet/Flarepoint-crm/pull/42
![crm-del-doc](https://cloud.githubusercontent.com/assets/13015005/22013275/3d269598-dca9-11e6-8061-1ed349beaf52.png)

[2017-01-20 22:19] mg-freelancer commented on #40
I will work for this feature :+1:

[2017-01-22 11:11] Bottelet commented on #40
Thanks for the PR, it is merged.

[2017-01-22 11:11] #40 closed

[2017-01-22 12:18] mefist1990 commented on #40
Thank you for accepting my changes, I still have a number of ideas at the expense of your CRM, I will soon be added to your CRM additional functionality.

[2017-01-22 12:19] mefist1990 commented on #40
@Bottelet Thank you for accepting my changes, I still have a number of ideas at the expense of your CRM, I will soon be added to your CRM additional functionality.

[2017-01-23 12:13] imranniaz opened #43 "After manual install TokenMismatch Error in compiled.php on line 3164"
TokenMismatchException in compiled.php line 3164:
in compiled.php line 3164
at VerifyCsrfToken->handle(object(Request), object(Closure)) in compiled.php line 9873
at Pipeline->Illuminate\Pipeline\{closure}(object(Request)) in Pipeline.php line 33
at Pipeline->Illuminate\Routing\{closure}(object(Request)) in compiled.php line 13490
at ShareErrorsFromSession->handle(object(Request), object(Closure))

[2017-01-23 19:26] Bottelet commented on #43
Hi, @imranniaz I have not seen this issue, before, did you follow all the steps correctly? composer install etc? I am not home before the end of this week, so will not be able to see if I can recreate the problem before the end of the week.

[2017-01-30 09:43] vignesh-subash opened #44 "Unable to create new table in the application."
Unable to create new table in the application. It shows error in vendor\laravel\Framework\src\Illuminate\Database\Migrations\Migrator.php on line 410

[2017-01-30 12:22] vignesh-subash commented on #44
Unable to create new table in the application. It shows error in vendor\laravel\Framework\src\Illuminate\Database\Migrations\Migrator.php on line 410

[2017-01-30 13:54] vignesh-subash commented on #44
i can able to create the table but unable to migrate the table values inside the table. when i run the

it throw back the error

[2017-01-30 17:40] Bottelet commented on #44
Is this your own migration you have made? if then please share the code so i can help. If not, I have no problems seeding, but please share the steps you are taking

[2017-01-30 17:41] Bottelet commented on #44
Also with I guess you figured out the variable thing? I don't recall having a variable named anything like that.

[2017-01-30 18:11] vignesh-subash commented on #44
Yes im just tried with basic table implementation for adding salutation before name field the application.
i have created the SalutationsTableSeed.php

`<?php
use Illuminate\Database\Seeder;
class IndustriesTableSeeder extends Seeder
{
    /**
     * Auto generated seed file
     *
     * @return void
     */
    public function run()
    {

        \DB::table('salutations')->delete();

        \D

[2017-01-30 18:52] Bottelet commented on #44
What you wanna do is run ```artisan make:migration create_salutations_table```, make your migration in the newly generated file. then in the your seed file, you wanna call it a correct name, a not on there already exsists, like ``ìndustriesTableSeeder```, then in the  ```Database/seeds/DatabaseSeeder.php``` you wanna insert ```$this->call('NameOfYourSeedFile');```

[2017-01-31 04:37] vignesh-subash commented on #44
I tried what ever you mentioned above but still im getting the error.

[2017-01-31 04:39] #44 closed

[2017-02-02 14:36] Bottelet commented on #43
I can not reproduce this problem, did you do all the steps, composer install etc. If you still have a problem please reopen the issue.

[2017-02-02 14:36] #43 closed

[2017-02-10 19:23] princelionelnzi opened #45 "Unable to add a task after installing the package"
After installing `flarepoint-crm` and adding an user as admin, I try to add a task but i am getting the following error:

[code]

[2017-02-13 15:52] Bottelet commented on #45
Hmm i can only reproduce this error, if there are no clients to assign, i guess there need to be some validation there. Did you create a client @princelionelnzi?

[2017-02-13 16:52] princelionelnzi commented on #45
No client has been created please.

[2017-02-13 17:08] Bottelet commented on #45
Well a task needs to be assigned to a client, so create a new client under "New client" first, and all should work.

[2017-02-13 17:08] #45 closed

[2017-02-28 13:15] rlesouef opened #47 "composer install error"
1. - git clone https://github.com/Bottelet/Flarepoint-crm.git
2. - table created
3. - .env modified
4. - composer install
i have the following error:

[code]

[2017-02-28 19:57] Bottelet commented on #47
I haven't tested it, but this should fix it:
https://github.com/Bottelet/Flarepoint-crm/commit/16ba1b5257990c579e70d49224fa6f510218e520

Thanks for posting the issue.

[2017-03-02 16:46] Naoray opened #49 "providing a package"
Are you planning on providing a package to integrate this crm in existing projects?

[2017-03-02 18:56] Bottelet commented on #49
Hi, @Naoray I have not sorry, at the moment I believe it would be to much work. And don't know where i would start.

[2017-03-02 18:56] #49 closed

[2017-03-04 12:40] #47 closed

[2017-03-08 15:23] Bottelet commented on #12
Does not seem necessary.

[2017-03-08 15:23] #12 closed

[2017-04-04 06:05] punit-gajjar commented on #27
I am getting same issue, Can you please help me out to resolve this ?
Parse error: syntax error, unexpected '.', expecting '&' or variable (T_VARIABLE) in F:\wamp\www\punit\Flarepoint_crm\vendor\laravel\framework\src\Illuminate\Foundation\helpers.php on line 477

[2017-04-04 06:52] punit-gajjar opened #55 "\vendor\laravel\framework\src\Illuminate\Support\Facades\Facade.php on line 221 and defined"
Hello ,

I have downloaded your code from https://github.com/Bottelet/Flarepoint-crm.git
->then i have created an empty database,
->renamed to .env.example to .env
->added my localhost configuration and changed the database name in .env
->then opened the command line and executed the command **composer install**
->then i had migrate all the tables using the command **php artisan migrate --seed**
-

[2017-04-05 10:43] Nesoi opened #57 "404 not found"
hello,when i try to deploy this project to vm (linux-nginx-mysql) ,the url redirect to a.b.c.d:81/login and shows 404 not found,can u help me

[2017-04-05 14:34] aosorio commented on #57
Configuration the nginx this example https://github.com/aosorio/nginx-cms

2017-04-05 5:43 GMT-05:00 Max <notifications@github.com>:

--
Arturo Osorio Barriga
@ArthurLinux
Yo solo se que no se nada...
Lo importante no es saberlo todo, sino saber como saberlo. "ser o no ser"
www.aosorio.wordpress.com
http://www.geekcode.com/
-----BEGIN GEEK CODE BLOCK-----
Version: 1.0
GCM/GE d? s ++:++  a- c++ L P

[2017-04-05 15:22] Nesoi commented on #57
thx a lot,but it still doesnt work.
i set the server listen on 81;
and root ...../{projectName}/public ,it show me 404 not found;
but when i use php -S 0.0.0.0:8888
it works.

[2017-04-05 16:18] Nesoi commented on #57
already fixed it!
i didnt add

[code]
thx @aosorio

[2017-04-05 16:59] aosorio commented on #57
It's just an example that does not go well but that solved

2017-04-05 11:18 GMT-05:00 Max <notifications@github.com>:

--
Arturo Osorio Barriga
@ArthurLinux
Yo solo se que no se nada...
Lo importante no es saberlo todo, sino saber como saberlo. "ser o no ser"
www.aosorio.wordpress.com
http://www.geekcode.com/
-----BEGIN GEEK CODE BLOCK-----
Version: 1.0
GCM/GE d? s ++:++  a- c++ L P L+++++  E+++

[2017-04-05 17:14] Bottelet commented on #57
Good it was fixed! Thanks for helping out @aosorio

[2017-04-05 17:14] #57 closed

[2017-04-05 17:15] Bottelet commented on #55
Hmmm I'll have to test this out, you shouldn't have to delete any files for it to start working.

[2017-04-05 18:17] Nesoi commented on #55
i think it not a specify code error,most of them are caused by environment configuration.
you should :

- confirm .env params is right

[code]

- try to start it using php-cli

u can go into the public directory then using

[code]
see what happen

- make sure Storage directory can be written

- another way to start up

 u can just start this application with php artisan

[code]

-check apache log

[2017-04-06 11:02] punit-gajjar commented on #55
@MaxMMX  , thanks for your quick response but would like to say my Credentials are correct in the .env file.  even Storage directory  is writable.

[2017-04-18 17:24] prabhatjon opened #58 "issue in instalation"
i am following composer installation but each time it is failing.

[2017-04-18 17:58] Bottelet commented on #58
Hello @prabhatjon you are gonna have to provided a bit more information for me to be able to help you. What does it output.

[2017-04-18 17:59] Bottelet commented on #55
@punit-gajjar Did you fix this, or is still a problem for you?

[2017-04-24 20:57] #58 closed

[2017-04-24 20:57] #55 closed

[2017-04-28 03:23] maufel opened #60 "Calendar for data field"
Good morning.
First of all congratulations on the wonderful work.
As an evolutionary change it would be interesting to use the calendar for the given fields.

Greetings

[2017-04-28 11:29] punit-gajjar commented on #55
@Bottelet, still have problem sir.

[2017-05-09 17:14] Bottelet commented on #60
I'm note sure what you mean by this. Can you please explain a bit more?

[2017-05-13 20:05] #60 closed

[2017-05-31 09:23] vignesh-subash commented on #28
App run perfectly on Windows machine but getting the

error only on mac machine

[2017-06-09 01:14] railwayc opened #62 "when i login, a warning was jumped out"
![tim 20170609091025](https://user-images.githubusercontent.com/8802233/26956923-f5a8d288-4cf3-11e7-904d-ee5cb3107bfb.png)

[2017-06-10 10:30] Bottelet commented on #62
Is this when you login, or go to the leads page? Try and clear cache, does it still happen? I have had some problem with datatables, not being able to get to complete the ajax call.

[2017-06-11 18:41] faphdev opened #63 "composer install fails due to dependencies"
Hello,

Can you please provide some more instructions how to install the project?
I followed your instructions but the composer install command fails with about 39 problems.
It looks like the php version does not satisfy the version required. I did not install php beforehand and I am not able to yum update php...
-------------------------------------------------------------------------------------

[2017-06-12 16:18] Bottelet commented on #63
Hmm, it sounds like you have to update your PHP version on you computer, which is something you have to Google yourself too, depending on what system you are using.

[2017-06-14 00:48] faphdev commented on #63
OK thank you.
In your instructions you say:
- Create an empty database table
- Copy the .env.example to .env and insert the Database config
What is the name of the table/s to be created? What is expected (to be added) in the .env file for the app to work?
Thanks!

[2017-06-14 07:16] Bottelet commented on #63
@faphdev Have you worked with Laravel before? Check the database/migrations folder, there are all the tables that will be created, in the .env file, there is expected to put your database credentials.

[2017-06-23 15:38] #63 closed

[2017-06-29 09:44] zf2 opened #64 "add task error"
I encountered a mistake when creating a task, if I did not create a client first.
![qq 20170629174221](https://user-images.githubusercontent.com/11845198/27681607-6945c59e-5cf2-11e7-9cbc-909556491b46.png)

[2017-06-29 19:39] Bottelet commented on #64
@zf2 A task needs to have a client, a task can not be assigned to nothing.

[2017-06-29 19:40] Bottelet commented on #64
Should probably have some sort of error handling instead of thorwing an exception

[2017-06-30 10:10] zf2 commented on #64
yeah，you are right. My current solution is modified it.
![qq 20170630181044](https://user-images.githubusercontent.com/11845198/27731379-53239606-5dbf-11e7-83dc-51cbe23f2a84.png)

[2017-07-04 20:03] Bottelet commented on #64
@zf2 I've added it to the validatio rules in this commit:
https://github.com/Bottelet/Flarepoint-crm/commit/8c7f705530604311e27f5a7c16abf287d11857f9

Thanks for the heads up

[2017-07-04 20:03] #64 closed

[2017-07-04 20:12] Bottelet commented on #62
Can't debug without any more information

[2017-07-04 20:12] #62 closed

[2017-07-06 02:18] mg-freelancer commented on #5
Can I work on this feature ? if so please assign it to me

[2017-07-06 09:21] Bottelet commented on #5
@mg-freelancer sure, go for it

[2017-07-06 23:57] mg-freelancer commented on #5
So what are the slack channel info ? as url webhook , etc...

[2017-07-07 07:47] Bottelet commented on #5
@mg-freelancer, It should be possible to use your own slack channel, so depending on the user they should be able to use their own slack channel, and not "mine". Make sense? So it should be possible to input their own url webhook etc.

[2017-08-22 18:29] karamucho opened #69 "Demo doesn't working"
Hi,
Demo site ec2-34-248-108-133.eu-west-1.compute.amazonaws.com  doesn't work, is there a chance to bring any demo to live?

Cheers,
karamucho

[2017-08-22 18:42] Bottelet commented on #69
Hello @karamuch, I'm currently running the ticket-conductor.com demo, and will not be running both at the same time, as it costs money to run them, it might come online at some point but not right now

[2017-08-22 18:42] #69 closed

[2017-08-25 17:50] asterixphp opened #70 "Code error of "This cache store does not support tagging ""
Hello Bottelet
I find the your code in github and try the install my xampp server in windows10.
But I can't install the your code.
First login window is shown.
But after login by the user:: "admin@admin.com" pass:: "admin123" , I see the 3 ErrorException.
1.This cache store does not support tagging. (View: D:\xampp\htdocs\Flarepoint-crm-develop\resources\views\layouts\master.blade.php) (View: D:\x

[2017-08-27 08:50] Bottelet commented on #70
Hmm I haven't experienced this before @asterixphp, can you try and change the config/cache from
`'default' => env('CACHE_DRIVER', 'array'),` to `'default' => env('CACHE_DRIVER', 'memcached'),`

[2017-08-31 12:29] Ali-Al1 opened #71 "Demo site seems to be down"
![image](https://user-images.githubusercontent.com/11404482/29923150-58c37632-8e50-11e7-9735-4caa14df3964.png)

[2017-09-01 16:32] #70 closed

[2017-09-01 16:32] Bottelet commented on #71
Hello @Ali-Al1  I know I am currently hosting https://github.com/Bottelet/ticket-conductor, instead, as it costs money I'm not gonna hosts all the demos at once.

[2017-09-01 16:32] #71 closed

[2017-09-05 11:30] asterixphp commented on #70
Hello
The error is the common error in Laravel framework.
I find the similar issues "https://github.com/Zizaco/entrust/issues/468"
But it isn't work.
same error.

[2017-09-05 11:36] asterixphp commented on #70
Already I solved the problem .
In .env file change to "CACHE_DRIVER=array" from "CACHE_DRIVER=file".
Thanks for your help

[2017-09-07 16:29] nguyencuonghut opened #72 "Clients assigned did not work correctly"
Hi @Bottelet,
When I tried to run Flarepoint-crm on my local PC, the function to display the clients of each user did not work correctly.
The error as below:
![image](https://user-images.githubusercontent.com/26396504/30174136-3c48688a-9424-11e7-9b8f-f57cccaf71f3.png)
Can you check it?

[2017-09-08 05:10] ingedman opened #73 "Error running migrations on [Docker]"
Hi @Bottelet

Not sure what is the reason, I just download the Docker containers and got this error.

`root@88e0545fb571:/var/www/html# php artisan migrate --seed

  [Symfony\Component\Debug\Exception\FatalThrowableError]
  Parse error: syntax error, unexpected '20161104200855' (T_LNUMBER), expecting identifier (T_STRING)

root@88e0545fb571:/var/www/html#`

Thanks

[2017-09-08 17:39] Bottelet commented on #72
Hmm I'll have to see if I can look into it over the weekend, and reproduce the problem.

[2017-09-08 17:40] Bottelet commented on #73
I have to be honest I'm not the strongest in Docker @saleh199 Made the docker image, maybe if we are lucky we can summon him, else I might try and debug on it over the weekend, and see if I can reproduce it. Thanks

[2017-09-11 02:30] nguyencuonghut commented on #72
May be the problem  is in:
ajax: '{!! route('users.clientdata', ['id' => $user->id]) !!}'
When I try to replace route by url, the error is not occurred anymore.

[2017-09-15 08:26] nguyencuonghut opened #75 "Error when display the "Created at" on leadtab.blade.php"
This line is not correct:
`<td>{{date('d, M Y, H:i', strTotime($lead->cotact_date))}}  </td>`

It should be:
`<td>{{date('d, M Y, H:i', strTotime($lead->contact_date))}}  </td>`

[2017-09-16 09:26] nguyencuonghut opened #76 "Error display Deadline of Task"
In TasksController:
`            ->editColumn('deadline', function ($tasks) {
                return $tasks->created_at ? with(new Carbon($tasks->created_at))
                    ->format('d/m/Y') : '';
            })`
should be:
`            ->editColumn('deadline', function ($tasks) {
                return $tasks->deadline? with(new Carbon($tasks->deadline))
                    ->format('d/m/Y'

[2017-09-16 09:32] nguyencuonghut opened #77 "Error display contact_date of Lead"
In function leadData of UsersController:
`            ->editColumn('contact_date', function ($leads) {
                return $leads->created_at ? with(new Carbon($leads->created_at))
                    ->format('d/m/Y') : '';
            })`

should be:
`            ->editColumn('contact_date', function ($leads) {
                return $leads->contact_date? with(new Carbon($leads->contact_date)

[2017-09-16 11:06] Bottelet commented on #76
@nguyencuonghut Why don't you open a PR? :) I'll might fix it later, if there is no PR, with the things you have commented on.

[2017-10-01 17:09] Bottelet commented on #72
Fixed here:
5d0ee8a8d20920ad1370bfde29fb4db166edfa9f

Thanks for reporting the bug

[2017-10-01 17:09] #72 closed

[2017-10-01 17:09] Bottelet commented on #77
Fixed here:
5d0ee8a8d20920ad1370bfde29fb4db166edfa9f

Thanks for reporting the bug

[2017-10-01 17:09] #77 closed

[2017-10-01 17:09] Bottelet commented on #76
Fixed here:
5d0ee8a8d20920ad1370bfde29fb4db166edfa9f

Thanks for reporting the bug

[2017-10-01 17:09] #76 closed

[2017-10-01 17:09] Bottelet commented on #75
Fixed here:
5d0ee8a8d20920ad1370bfde29fb4db166edfa9f

Thanks for reporting the bug

[2017-10-01 17:09] #75 closed

[2017-10-08 18:42] sethokayba opened #78 "Installation Guidelines"
Hello,

Can you explain the installation process in more details.

For installation with a MySQL server running on localhost : 3306 , how to do it ?

thanks in advance.
Cheers.

[2017-10-24 19:59] rahul7777yadav opened #79 "Composer Install gives error"
Hi I am using php version 7.0.1 but still getting this error :

Installing dependencies (including require-dev) from lock file
Your requirements could not be resolved to an installable set of packages.

[2017-10-30 06:20] sydwang opened #80 "Feature search is case sensitive"
Flarepoint is a very good product and I have installed and tested at least two of your release versions.
Found that the function search is case sensitive.
If it's not, this feature could be more powerful and reasonable.
Good day.

Sydwang

[2017-11-02 18:01] Bottelet commented on #80
Not sure what search we are talkign about here @sydwang

[2017-11-02 18:02] Bottelet commented on #79
Hmm seems weird @rahul7777yadav Can you try and do a php -v and be sure it's 7.0.1, or maybe you have some old php versions lying as well, there might confuse it?

[2017-11-02 18:02] Bottelet commented on #78
Seems like you need to google how to setup a mySQL databse locally.

[2017-11-02 18:02] #78 closed

[2017-11-02 18:03] #73 closed

[2017-11-02 18:03] #9 closed

[2017-11-02 18:04] #5 closed

[2017-11-03 00:01] sydwang commented on #80
I created a lead which has a word EOI in its title, but it couldn't be found by searching eoi.  In order to let it appear in search result list, I have to search the word EOI.
Have I addressed the issue clearly?
Thank you.

Charles

[2017-11-03 06:00] rahul7777yadav commented on #79
Actually i had to change my Environment variable path to solve this .

Thanks for reply :)

[2017-11-03 06:00] #79 closed

[2017-11-03 08:28] sethokayba commented on #78
Seems that you did not understand my question.
Thanks anyway.

[2017-11-03 08:48] Bottelet commented on #78
Sorry let me repgrase, seems like you need to google, how to setup a laravel project :)

[2017-11-03 08:54] sethokayba commented on #78
i'll accept this :)
thank you and keep the googd work.

[2017-11-11 16:50] Bottelet commented on #80
I see, it's the search function on leads, tasks etc we are talking about correct?

[2017-11-13 00:54] sydwang commented on #80
Hi, all
Exactly.
If it is not case sensitive, it would be more powerful in terms of feature.
Thank you.

Charles

On 12 November 2017 at 03:50, Casper Bottelet <notifications@github.com>
wrote:

[2017-11-15 11:12] OnlyCRed opened #81 "npm -v 3.10.10 node -v 8.9.1"
sudo npm install

####Homestead Vagrant box Windows 10#####

kept failing!!!!!

npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules/ch
okidar/node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@
1.1.3: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"x64"}
)
npm ERR! Linux 4.4.0-92-generic
npm ERR! arg

[2017-11-15 12:21] #81 closed

[2017-11-25 14:08] jammy-git opened #82 "Huge app.js file?"
Is there anyway to reduce the size of the app.js file? At the moment it's over 7Mb.

[2018-01-26 05:48] alexandervargas opened #84 "DataTables warning: table id=clients-table - Ajax error. For more information about this error, please see http://datatables.net/tn/7"
![image](https://user-images.githubusercontent.com/19354310/35426646-8a05bc04-0232-11e8-8785-8a7cec4e2b0a.png)
DataTables warning: table id=clients-table - Ajax error. For more information about this error, please see http://datatables.net/tn/7

[2018-02-02 16:12] felix28 opened #85 "No invoice feature"
Hi,

Where I can find the invoice feature of this app?

Thanks

[2018-02-05 10:41] appionl opened #86 "Demo site offline"
The demo site mentioned in the readme can't be reached..
Url: http://ec2-34-248-108-133.eu-west-1.compute.amazonaws.com/

[2018-02-11 16:41] Bottelet commented on #86
Hi yes, sorry there are no longer a demo, i will get it removed from the Readme Thanks

[2018-02-11 16:41] #86 closed

[2018-02-11 16:42] Bottelet commented on #85
Hi @felix28 it's a very simple invoicing feature, but you can find it on the task, and by adding time to the task, that will generate the invoice

[2018-02-11 16:42] #85 closed

[2018-02-11 16:42] Bottelet commented on #82
I am not sure of this, might look into it in the future.

[2018-02-11 16:42] #82 closed

[2018-03-24 21:09] marctonon opened #87 "Out of memory using big client table"
Dear friend, I am using this excelent app and I've tried to manage 300k clients. During the first 'php artisan serve', I've got the error 'Allowed memory size of 536870912 bytes exhausted in Laravel
'.

File: ClientRepository.php

Please, kindly change the code

    public function getAllClientsCount()
    {
        return Client::all()->count();
    }

to

    public function getAllClientsCount()

[2018-03-24 22:13] Bottelet commented on #87
Solved by yourself here :)
https://github.com/Bottelet/Flarepoint-crm/pull/88/commits/566277e0b5a60c913f82b4bf3a4c05a1e07d40eb

Closing the issue.

[2018-03-24 22:13] #87 closed

[2018-05-04 18:46] prasadh13 opened #89 "How to install on mac?"
Please let me know how to install this crm on mac. The installation steps from the wiki do not work for mac. I have the git repo and composer on mac. I am on PHP v5.6.30 which came default with mac. I am stuck at the following error-

`Fatal error: require(): Failed opening required '/Users/prasad/Desktop/crm/Flarepoint-crm/bootstrap/../vendor/autoload.php' (include_path='.:') in /Users/prasad/Des

[2018-05-07 17:07] joreluix opened #90 "After having installed, it does not load the views"
![screenshot-2018-5-7 index of flarepoint-crm 1](https://user-images.githubusercontent.com/32938445/39714294-35f8df12-51ef-11e8-8cb8-949b3a624b07.png)

[2018-05-07 17:09] Bottelet commented on #90
Seems mostly something is wrong with your web server, nginx or apache? you have to make sure it looks at /public as the root folder.

[2018-05-07 17:10] Bottelet commented on #89
Hello @prasadh13 Have you tried to do `Composer install`?

[2018-05-07 17:11] Bottelet commented on #84
@alexandervargas Still having this problem, or did you figure it out?

[2018-05-07 17:55] joreluix commented on #90
Its apache. Thanks for the info, i solved it, add a .htaccess file into main folder with next code:

RewriteEngine On
RewriteCond %{HTTP_HOST} ^localhost$
RewriteRule (.*)$ http://localhost/"my-folder"/public [R=301,L]

[2018-05-07 17:56] #90 closed

[2018-05-18 12:05] successus opened #91 "Db Connection Error during Installing"
I have done all 3 steps for installing. I use docker, but during login, i get an error:
I think that the trouble is with db connection. could you help?
How can I connect to the db, when I use docker?

QueryException
SQLSTATE[HY000] [2054] The server requested authentication method unknown to the client (SQL: select * from `users` where `email` = admin@admin.com limit 1)

PDOException
PDO::__constr

[2018-06-05 20:12] #89 closed

[2018-06-21 07:25] andiroot opened #92 "leads status only 2 [contacted,completed]"
hi, where i can set if client not interested.. because i found it in source code but have no idea where to set "not interested" in web pages,

thanks

[2018-07-10 10:30] Ahmdrza opened #93 "File is missing, kindly fix"
In Container.php line 729:

  Class App\Http\Controllers\Auth\RegisterController does not exist

[2018-07-17 14:00] msankar1991 commented on #70
Still its not working. Getting same above error always find .env file config also

`APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:A4iGUSFfS08b7QY65t0tmjcyijRGdrISzqz1kuivxEo=
APP_DEBUG=true

DB_CONNECTION=mysql
DB_HOST=localhost
DB_DATABASE=flarepoint_crm
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

[2018-07-26 16:29] lparolari opened #94 "Allow forfait price in invoices"
As title,
could you allow to specify a forfait price in invoices?

[2018-07-31 17:52] Bottelet commented on #94
You have to be more specific here, edit what options, and what do you mean with forfeit price? @lparolari

[2018-07-31 17:53] Bottelet commented on #93
It is on purpose. Where do you see this error, what the use case?? Will close until more information

[2018-07-31 17:53] #93 closed

[2018-07-31 17:53] Bottelet commented on #92
You have to find it all the places status are set, in the code, and change it there.

[2018-07-31 17:53] #92 closed

[2018-07-31 17:54] Bottelet commented on #91
I am sorry, my docker knowledge is not very strong, someone else created the docker image.

[2018-07-31 17:54] #91 closed

[2018-09-20 16:31] juanma386 opened #95 "thanks, is beautiful crm"
Is very beautiful.
Thank you, I will be grateful to make a wiki to know how to work with rest API and a guide to integrate quickly with other tools by this means, I really am amazed with all the advances of Laravel and its great collaborators...

[2018-09-25 17:36] Bottelet commented on #95
Feel free @juanma386 make a .md file and create a Pull request for it.

[2018-09-25 17:36] #95 closed

[2018-11-03 00:29] centrust opened #97 "shouldn't the user have access to see his tasks only?"
Hi
This looks like what I was looking for,
But
shouldn't the user have access to see his tasks only?

[2018-11-04 17:17] alek10c opened #98 "translation to Spanish"
Hola, me gustaría colaborar en el proyecto, en este momento estoy traduciendo al español.

`{
  "Name": "Nombre",
  "name": "nombre",
  "Company": "Compañia",
  "company": "compañia",
  "Mail": "Mail",
  "mail": "mail",
  "Number": "Número",
  "number": "numere",
  "Create New Client": "Crear Nuevo Cliente",
  "Update client": "Actualizar cliente",
  "Tasks": "Tareas",
  "Leads": "Registros",
  "D

[2018-11-05 00:32] alek10c opened #99 "Error in counting the leads created today"
I leave the code to correct

app\Http\Controllers\PagesController.php

original
`        $completedLeadsToday = $this->leads->completedLeadsToday();
        $createdLeadsToday = $this->leads->completedLeadsToday();
`
corrected
`
$completedLeadsToday = $this->leads->completedLeadsToday();
        $createdLeadsToday = $this->leads->createdLeadsToday();
`

[2018-11-05 16:20] Bottelet commented on #98
Hi @alek10c, Could you open a Pull request instead?

[2018-11-05 16:20] Bottelet commented on #99
Hi @alek10c, Could you open a Pull request instead?

[2018-11-05 18:57] alek10c commented on #98
success

[2018-11-05 18:57] alek10c commented on #99
success

[2018-11-06 16:59] Bottelet commented on #99
Thanks. Fixed in ed64082

[2018-11-06 16:59] #99 closed

[2018-11-06 16:59] Bottelet commented on #98
Thanks. Fixed in ed64082

[2018-11-06 16:59] #98 closed

[2018-12-10 05:53] Thirdy-jea opened #101 "HELP PLEASE"
I don't know what I did wrong during the installation process. Did everything that was said in the steps to installation. Please help, thanks

![image](https://user-images.githubusercontent.com/40558801/49713250-e3a52880-fc82-11e8-9b4d-e9eb34e61898.png)

[2018-12-10 07:38] Thirdy-jea opened #102 "Invoice causes error"
Is there a bug in the program? The invoice doesn't seem to work sir.
![image](https://user-images.githubusercontent.com/40558801/49717294-97adb000-fc91-11e8-86aa-3f14f3d6a2d3.png)

[2018-12-10 07:39] Thirdy-jea commented on #102
I clicked the 'See the Invoice' button and then the error occurred. Is there any solution for this sir?

[2018-12-10 07:39] Thirdy-jea commented on #102
![image](https://user-images.githubusercontent.com/40558801/49717343-be6be680-fc91-11e8-81b3-777ae2b6c5af.png)

[2018-12-10 07:39] Thirdy-jea commented on #97
Same observation. Any fix on this sir Bottelet?

[2018-12-22 17:42] mirorauhala commented on #101
You need to change the web root of your server point to the public/ folder which you can see from the screenshot you posted.

[2018-12-24 11:55] umefarooq commented on #101
just try http://localhost/flarepoint/public

[2018-12-27 16:58] Bottelet commented on #102
Seems like it links to the wrong invoice, should be a quick fix, If I remember correctly, it needs to use the `external_id`

[2018-12-27 16:58] Bottelet commented on #101
@Thirdy-jea , as said, Laravel root should be `public`

[2018-12-27 16:58] #101 closed

[2018-12-27 16:59] Bottelet commented on #97
No, that was not the intention but could be an option. I don't see why the rest of the company should not be able to see what each user is working on.

[2019-01-26 05:14] baradhili commented on #101
Actually I'm getting similar, @Bottelet , my apache conf is pointing to /var/www/flarepoint/public but I get "The requested URL /login was not found on this server." .. looking at routes/web.php I can't see a route for login?..

[2019-01-26 11:52] mirorauhala commented on #101
@baradhili https://laravel.com/docs/5.6/#pretty-urls

[2019-01-31 20:13] Bottelet commented on #84
No response closing issue

[2019-01-31 20:13] #84 closed

[2019-02-24 09:48] DevMostafa opened #104 "Installation error"
I have these error after browsing the page for a complete successful installation
http://localhost/flarepoint/public/

Not Found
The requested URL /flarepoint/public/login was not found on this server.
Apache/2.4.29 (Ubuntu) Server at localhost Port 80

I've made the following      https://github.com/Bottelet/Flarepoint-crm/wiki/Install          exactly
and I've made the
sudo chmod -R guo+w storag

[2019-03-07 06:37] sovrinbloc opened #105 "Trying to make a PR to fix the MySQL Bugs and php bug"
I am trying to make a PR that fixes the Dockerfile bug for php as well as the MySQL version bug (5.7 instead of latest)

[2019-03-13 13:26] chinmayambardekar opened #107 "Class App\Http\Controllers\Auth\RegisterController does not exist"
Few PHP artisan commands fail saying "Class App\Http\Controllers\Auth\RegisterController does not exist".
The path has no file as RegisterController.php

[2019-03-28 10:10] Paul-Hoo opened #108 "What does "Leads" mean?"
Installation was smooth, yet confused when try it out -
what exactly does a **Lead** mean? what is the difference between **Leads** and **Tasks**?
Thanks.

[2019-03-28 10:25] Paul-Hoo commented on #108
All right, I'm sorry, got it now. It's just a concept in CRM.

[2019-03-28 10:25] #108 closed

[2019-05-05 22:35] jhuebel opened #109 "Separate Contacts from Clients"
Separate the individual contact information from the company information. At the medium and large business scales, there are often multiple contacts involved. The ability to document all those contacts would be ideal.

[2019-05-05 22:45] jhuebel commented on #109
I wanted to open the ticket first, but let you know that I'll be forking Flarepoint to add the functionality myself. I'm not a great Laravel developer, but I get by. Will be happy to pay back the project with a pull request once I'm done with my changes.

[2019-05-06 06:28] Bottelet commented on #109
Cool, go for it, I'll gladly review your PR when it's ready

[2019-05-08 01:32] jhuebel commented on #109
If you're interested in following along with my progress, here's the branch I'm working on:

https://github.com/jhuebel/Flarepoint-crm/tree/contacts

Overview of the changes so far:

- Migrations done for the schema changes and data migration (in case you're a current user with live data).
- Views affected by renaming the clients.name field to clients.primary_contact_name are updated.
- The dataTa

[2019-05-09 14:05] fr3em1nd commented on #109
hey thanks! this helped me.

[2019-05-09 19:51] jhuebel commented on #109
Oof... using repositories makes me want to blow my brains out.

[2019-05-15 17:42] jhuebel commented on #109
Finishing up the contacts.show view, then I'll make the validation error changes. At that point, I should be ready to submit the pull request. I think I'm going to save the State and Country field feature addition until after the contacts feature is done.

[2019-05-15 20:33] jhuebel commented on #109
@Bottelet, any objections to requiring PHP 7.x? I really prefer to use the null coalescing operator in forms with validation. If you'll look here, you can see how much cleaner this form looks after a refactor with that operator:

https://github.com/jhuebel/Flarepoint-crm/blob/39b8242300df7fc84d87a33b71a7c670c0aa05b2/resources/views/clients/form.blade.php

[2019-05-18 13:38] Bottelet commented on #109
@jhuebel I agree repo pattern is a pain, it's a regret I've struggled with myself. Also no, i think its fine with the PHP version, so it is up-to-date

[2019-05-29 22:02] jhuebel commented on #109
#110

[2019-06-05 19:04] #107 closed

[2019-06-05 19:06] Bottelet commented on #107
@chinmayambardekar It's been fixed now
https://github.com/Bottelet/Flarepoint-crm/pull/111
by @jhuebel Thanks!

[2019-06-05 19:07] #105 closed

[2019-06-05 19:14] jhuebel commented on #97
I will be adding this feature at some point to my fork and will submit a PR when it's ready.

The following "view" role permissions will be added:

- View All Clients
- View All Contacts
- View All Tasks
- View All Invoices
- View All Leads

In additional, new "My" views will be added that only show the clients, contacts, etc that are assigned to you. There will also be role permissions for assign

[2019-06-10 14:41] Bottelet commented on #109
#110 has been merged @jhuebel  Thanks!

[2019-06-10 14:41] #109 closed

[2019-06-10 15:44] jhuebel opened #112 "Application-wide Responsive Layout"
Opening this ticket to track discussion of the responsive layout/design overhaul that I'm working on.

I thought about just opening a PR and having a discussion of the commits as I went along, but I may be considering changes that you're unwilling to pull into the original project.

Are you actively using this CRM yourself? If you don't have Flarepoint CRM in production use, I would feel less cons

[2019-06-10 15:54] SkowronekArt commented on #104
I'm having the same issue.
The flarepoint/public is set as the root directory on my localhost. No errors during installation, I use apache2 on Mac.
Has anyone found the solution? Please, please, help!

[2019-06-10 17:43] SkowronekArt commented on #104
I got it now! It was `AllowOverride _None_` on my apache server :)

[2019-06-11 19:18] SkowronekArt commented on #97
-> I will be very thankfull when you do this :) Thanks in advance!

[2019-06-12 15:20] jhuebel commented on #97
So you know, PR #113 doesn't prevent the user from seeing all of the clients, contacts, tasks and leads. It just adds views called "My Clients", "My Contacts", etc that filter the lists. But at the moment, users can still look at "All Clients", "All Contacts", etc. I haven't added the role permissions yet.

[2019-06-21 13:16] jhuebel opened #115 "Request to become a maintainer"
Regarding my last comment on #114, it was suggested to me elsewhere that I should request to become a maintainer rather than fork the project entirely. How would you feel about that? Also, keep in mind that I would be making significant and breaking changes in upcoming versions.

[2019-06-24 15:04] Bottelet commented on #115
@jhuebel I don't think that would be a problem with that, we would probably have to discuss a few things, could you maybe shoot me an email at cbottelet@gmail.com

[2019-06-25 20:40] #115 closed

[2019-06-25 20:41] jhuebel commented on #80
Updated DataTables resolves this issue.

[2019-06-25 20:41] #80 closed

[2019-06-25 20:57] jhuebel commented on #104
@DevMostafa, please follow the steps here for pretty URLs:

https://laravel.com/docs/5.8#web-server-configuration

Also, as @SkowronekArt mentioned, you'll need to AllowOverride in your main Apache server settings. On Ubuntu 18.04, you can modify your `/etc/apache2/apache2.conf` file. Make sure your `/var/www` directory settings look similar to this:

[code]

The important line is `AllowOverride A

[2019-06-25 20:57] #104 closed

[2019-06-25 21:16] jhuebel commented on #102
Resolved in develop branch. The URL for that link was malformed. Switched to using route helper instead of manually building URL.

[2019-06-25 21:16] #102 closed

[2019-06-26 09:32] DevMostafa commented on #104
Thanks @jhuebel

[2019-06-28 19:20] jhuebel commented on #112
Closing since I'm a maintainer now.

[2019-06-28 19:20] #112 closed

[2019-06-28 19:22] jhuebel commented on #97
1.3 adds this feature, without access controls. Closing since access control improvements are on the roadmap for a future version.

[2019-06-28 19:22] #97 closed

[2019-07-02 13:14] giesta opened #117 "Class 'App\Models\permissions' not found"
When I am trying to edit role's permissions as Administrator I am getting this error: "Class 'App\Models\permissions' not found".
Settings -> Overall Settings -> Save Role
Do you have any suggestions?

[2019-07-02 13:37] jhuebel commented on #117
A class name should always start with a capital letter. So the issue here is "permissions". To fix it, In `app/Models/Role.php` change the permissions() method from:

[code]

to this:

[code]

Notice the capitalization change of "Permissions::class".

[2019-07-02 13:44] #117 closed

[2019-07-02 21:33] SkowronekArt opened #118 "AJAX calls column names"
I think I found an issue in
`https://github.com/Bottelet/Flarepoint-crm/blob/master/resources/views/clients/index.blade.php`

Ajax calls the `clients.salesperson` column, while the name of the column is `clients.user_id`

[2019-07-02 21:37] SkowronekArt commented on #118
So it is in
`resources/views/contacts/index.blade.php`
`contacts.client_name` should be `contacts.client_id`

[2019-07-03 01:20] jhuebel commented on #118
Are you receiving any errors?

If you look at the `app/Http/Controllers/ClientsController.php` and `app/Http/Controllers/ContactsController.php`, there is an `anyData` method in each. Those generate the column data for the the tables. They send the salesperson's name and the client's name, respectively. They aren't supposed to populate the table with the IDs.

The way those lists work is a little

[2019-07-03 09:07] SkowronekArt commented on #118
Yes, I received this error while sorting by client on the contact page:
`DataTables warning: table id=contacts-table - Ajax error. For more information about this error, please see http://datatables.net/tn/7`

[2019-07-03 12:37] jhuebel commented on #118
Ah, sorting... That was the missing piece of information I needed. I'll look into it today. Since I'm not super familiar with the DataTables component used for the lists, it may take me a day or two to sort out.

[2019-07-03 15:04] #118 closed

[2019-07-03 15:05] jhuebel commented on #118
OK, this is fixed in 1.3.2 which I just pushed out to the master branch.

[2019-07-03 15:17] slayerbleast opened #119 "docker php version conflicts"
I'm trying this project with docker.

But when I did composer install inside docker container gives errors about php version:

 Problem 1
    - Installation request for doctrine/cache v1.8.0 -> satisfiable by doctrine/cache[v1.8.0].
    - doctrine/cache v1.8.0 requires php ~7.1 -> your PHP version (7.0.33) does not satisfy that requirement.
  Problem 2
    - Installation request for doctrine/dbal

[2019-07-03 17:59] jhuebel commented on #119
You're welcome to try changing the `.docker/flarepoint-php/Dockerfile` to resolve this. You may be able to simply change the first line to:

[code]

The Docker configuration included with Flarepoint is currently unmaintained. Since I don't use Docker, I didn't have any plans to update it.

That said, I'll add it to the roadmap for 2.0, which will come out sometime after I finish the Laravel 5.8/Bo

[2019-07-03 21:38] SkowronekArt opened #120 "delete user - method not allowed"
I've spent much time to find a solution to remove the user. No good results :(

The form asks the admin, what needs to be done with the existing clients/tasks/leads and who to assign:
![handlde deletion](https://user-images.githubusercontent.com/29749820/60626671-cfc23f00-9deb-11e9-8c37-034a219dfebd.png)

The issue is in this file: [resources/views/users/index.blade.php](https://github.com/Bottele

[2019-07-04 01:05] jhuebel commented on #120
Tomorrow is a holiday here in the United States. So I didn't plan on working on Flarepoint. But I'll be back at the office on Friday. I'll fix it then.

[2019-07-04 14:51] #119 closed

[2019-07-05 15:04] jhuebel commented on #120
I'm reopening this issue. Although the user dropdown lists work in the modal  now, the modal itself doesn't seem to work. Maybe @Bottelet can shed some light on this. Has it ever worked? The fact that the submit button is labeled "Login" leads me to believe this may be something that was incomplete.

Regardless, since it's Javascript-- which I'm not great at-- it's going to take me a bit longer to

[2019-07-05 15:17] Bottelet commented on #120
@jhuebel This has worked before, I see the button, that's probably a copy paste error. It looks like the users variable might be empty, I would start by looking at that.

[2019-07-05 15:58] jhuebel commented on #120
I've fixed the $users variable with the latest hotfix (1.3.4), but that
didn't resolve the problem. Clicking "Login" doesn't seem to do anything.

On Fri, Jul 5, 2019 at 10:17 AM Casper Bottelet <notifications@github.com>
wrote:

[2019-07-05 17:08] jhuebel commented on #120
Found one problem, in particular, in
`resources/views/users/index.blade.php`:

[code]

Note the missing semicolon at the end. So the click event for the "Login"
button doesn't fire. Even fixing this syntax error, jQuery returns a server
error. I thought it was related to the CSRF token, but I'm pretty sure that
the token is being properly added to the request headers.

On Fri, Jul 5, 2019 at 10:57

[2019-07-05 17:09] jhuebel commented on #120
Found one problem, in particular, in `resources/views/users/index.blade.php`:

[code]

Note the missing semicolon at the end. So the click event for the "Login" button doesn't fire. Even fixing this syntax error, jQuery returns a server error. I thought it was related to the CSRF token, but I'm pretty sure that the token is being properly added to the request headers.

[2019-07-05 17:26] jhuebel commented on #120
Just pushed a hotfix for the syntax error (and a little Javascript indentation cleanup), but that doesn't resolve the problem with jQuery sending the DELETE request to Laravel.

[2019-07-05 18:01] jhuebel commented on #120
@SkowronekArt I'll have to look at this more over the weekend (hopefully). I hate to suggest it, but you may have to resort to manually updating the data and deleting the user within MySQL in the meantime.

[2019-07-06 06:38] giesta commented on #120
app/Models/User.php:

1. Method clients() doesn't exist in this file
2. Methods moveTasks($user_id), moveLeads($user_id), moveClients($user_id) must be as these methods below:

![Screenshot from 2019-07-06 09-11-22](https://user-images.githubusercontent.com/47950470/60752423-1ec7ca00-9fce-11e9-997c-c6792c9e5c8c.png)
3.Method leads() must be like this
![image](https://user-images.githubusercontent.

[2019-07-06 09:54] giesta commented on #120
App/Models/User.php:
Method clients() doesn't exist. Leads and tasks have two foreign keys: user_assigned_id and user_created_id, I think that all those keys must be changed in the methods moveLeads and moveTasks.

[2019-07-06 22:54] SkowronekArt commented on #120
Thank you for all your efforts, I really appreciate!

[2019-07-08 12:56] jhuebel commented on #120
OK, I think I've come up with a solution. I should have it implemented today. It will also simplify the Delete User modal a little bit.

[2019-07-09 11:19] SkowronekArt opened #122 "Add time string 1h 30m possibility"
Hi, if there was one, that found it helpful, I have added a few lines into:`app/Repositories/Task/TaskRepository.php` file (`updateTime` method):
[code]

To obtain the proper result you'd need to change
`database/migrations/2016_01_31_211926_invoice_lines_table.php`
`quantity` format into `decimal`.

This method allows user to write a string like 1h 30m instead of 1.5.
Hope you'll like it :)

[2019-07-09 15:11] jhuebel commented on #120
1.3.5 should resolve the User Delete modal problems. It was a little more complicated that I thought it would be. The modal window is also simplified. You can either choose "Delete All" from the dropdown lists or select a user to move the data to.

Here are some notes, though:

- If you choose to delete all clients, even tasks and leads assigned to a different user are deleted. So use that with ca

[2019-07-09 15:11] #120 closed

[2019-07-10 14:25] SkowronekArt commented on #120
works great!

[2019-07-12 10:25] kannantncbe opened #123 "Installation Error"
Hi,

I try to execute this command.
php artisan migrate --seed

I go the following error.

In ProcessUtils.php line 43:

  The Symfony\Component\Process\ProcessUtils::escapeArgument() method is deprecated since Symfony 3.3 and will be removed in 4.0. Use a command line array or give en
  v vars to the Process::start/run() method instead.

[2019-07-13 14:08] jhuebel commented on #123
Please reply with the output of the following command:
[code]
Or if you have an older version of composer, you may have to add the `-i` argument at the end.

[2019-07-17 12:49] jhuebel commented on #123
According to issue #21281 on the Laravel repo, this is just a warning. Closing.

[2019-07-17 12:49] #123 closed

[2019-07-25 14:34] ilhamhmdn opened #124 "Is this app using AdminLTE, or something else?"

[2019-07-25 22:46] jhuebel commented on #124
This doesn't use AdminLTE. It currently uses vanilla Bootstrap 3 with a custom sidebar component and Chart.js. That will change in Flarepoint CRM 2.0, though. We'll be moving to Bootstrap 4. But using AdminLTE could certainly be an option.

[2019-07-25 22:48] jhuebel commented on #124
I take that back. AdminLTE isn't an option, since it's based on Bootstrap 3 (and we're moving to 4). So a different Admin control panel would be necessary.

[2019-07-29 13:02] #124 closed

[2019-07-30 11:42] cyborix opened #125 "cant view contacts"
DataTables warning: table id=contacts-table - Invalid JSON response. For more information about this error, please see http://datatables.net/tn/1

![image](https://user-images.githubusercontent.com/20562928/62126424-43714200-b2ed-11e9-9ca8-f3916e0a7be8.png)

[2019-07-30 14:43] jhuebel commented on #125
Need more information than this. That's a generic error with DataTables and
really doesn't tell me anything more than that the JSON response was bad.

Please provide answers to the following questions, so I can troubleshoot
further:

1. What version are you running?
2. Is this a new install of Flarepoint CRM or did you upgrade from an
earlier version?
3. If you upgraded from an older version, what

[2019-07-30 14:52] jhuebel commented on #125
In addition to the questions above...

4. If you're upgrading, are you using git and following the instructions in the release notes?

[2019-07-31 05:23] cyborix commented on #125
Thanks for responding. These are answers for the following queries
1. What version are you running?
->Laravel 5.4.36
2. Is this a new install of Flarepoint CRM or did you upgrade from an earlier version?
->It is new install of flarepoint.

Thanks,
jhuebel

[2019-07-31 19:01] jhuebel commented on #125
This must be an installation problem, since it all worked for me. I'll admit that the installation documentation needs a lot of work. Here are the steps I just performed to install a clean copy of Flarepoint CRM on Ubuntu 19.04. I already had PHP 7.2, MySQL, NGINX, composer and nodejs installed. So you may need to sort through that before these steps can be completed.

First, clone a copy of Flare

[2019-08-01 08:40] cyborix commented on #125
Hi  jhuebel
I did as mentioned above procedure and its not working properly
![test](https://user-images.githubusercontent.com/20562928/62278646-20b66900-b466-11e9-9962-c7e4d44cf82d.gif)

[2019-08-01 08:42] cyborix commented on #125
Hi,
I have followed the following steps. Still I am facing the same issue.

[2019-08-01 09:14] cyborix commented on #125
Hi,
I have followed the following steps. Still I am facing the same issue.
here the video link

https://gofile.io/?c=3BI8sd

[2019-08-01 11:10] giesta commented on #125
app/Http/Controllers/ContactsController.php method myData():
route must be changed from
![image](https://user-images.githubusercontent.com/47950470/62288862-fe245000-b465-11e9-9618-4794ebdd4206.png)
to
![image](https://user-images.githubusercontent.com/47950470/62288589-632b7600-b465-11e9-9f53-fd94b12f5bb2.png)

[2019-08-01 13:17] jhuebel commented on #125
OK, I've made your suggested change in my code and will do some testing. Additionally, I'm going to make similar changes to some other "anyData" and "myData" methods to use the Laravel route() helper. This will make the coding style consistent.

I expect I'll commit the changes later today and tag them as version 1.3.7.

[2019-08-02 10:51] cyborix commented on #125
i checked both but still same issue.
![Screenshot from 2019-08-02 16-20-52](https://user-images.githubusercontent.com/20562928/62365323-698f2000-b541-11e9-809e-613b4593bec0.png)

![Screenshot from 2019-08-02 16-19-59](https://user-images.githubusercontent.com/20562928/62365303-62681200-b541-11e9-970b-e7f25dc0dfe8.png)

[2019-08-02 12:33] jhuebel commented on #125
I haven't committed the changes yet. I'll commit them over the weekend.

On Fri, Aug 2, 2019 at 5:51 AM gigas <notifications@github.com> wrote:

[2019-08-02 13:07] giesta commented on #125
You must change from
![image](https://user-images.githubusercontent.com/47950470/62372190-7b6fc380-b53f-11e9-8ca2-2da3d021aeb4.png)
to
![image](https://user-images.githubusercontent.com/47950470/62372219-917d8400-b53f-11e9-904f-1eece5481776.png)

[2019-08-02 13:51] jhuebel commented on #125
What file are you getting this last change from? I don't see what you're seeing.

/resources/views/contacts/index.blade.php and my.blade.php both have this in 1.3.6:
[code]

So your suggested change already exists in the current version. Please check to make sure you have checked out tag 1.3.6 before suggesting more changes: `git checkout 1.3.6`

[2019-08-02 13:59] jhuebel commented on #125
After looking back through your replies, it would appear that you changed "client_name" to "client_id" at some point, then suggested that it be changed back to "client_name".

Sorry, but I'm considering closing this as WONTFIX. It seems you're making changes and then suggesting fixes to problems you've created yourself.

Any additional bugfixes you would like to make should be submitted as pull re

[2019-08-02 16:53] giesta commented on #125
Sorry, but my suggest was that @cyborix must change {data: 'client_name', **name: 'client_id'**}, I don't know why it is in his file😂
![image](https://user-images.githubusercontent.com/47950470/62385984-2f347b80-b55f-11e9-8097-a5fa53a9d252.png)

[2019-08-02 18:28] cyborix commented on #125
sorry for the inconvenience😅😅 .. yeah  i changed  {data: 'client_name', name: '**client_id**'}

After changing  this  {data: 'client_name', name: '**client_id**'}  to {data: 'client_name', name: '**client_name**'} i am facing same ajax error

[2019-08-02 18:33] cyborix commented on #125
sorry for the inconvenience😅😅 .. yeah  i changed  {data: 'client_name', name: '**client_id**'} just for testing.. i forget to change but still  cant fix the ERROR

After changing  this  {data: 'client_name', name: '**client_id**'}  to {data: 'client_name', name: '**client_name**'} i am facing same ajax error

[2019-08-02 19:16] jhuebel commented on #125
Changes have been pushed to the master branch. See release [1.3.7](https://github.com/Bottelet/flarepoint-crm/releases/tag/1.3.7) for more information.

[2019-08-02 19:16] #125 closed

[2019-08-02 22:39] giesta commented on #125
@cyborix, what version is your PHP? If PHP 7.3, you should try this: https://github.com/laravel/framework/issues/26936

[2019-08-02 23:12] giesta commented on #125
I tried to install this project on windows 10 with PHP 7.3. I had the same issue then I removed undefined 'operator' from 'compact' method and now it works 😊

[2019-08-03 01:31] jhuebel commented on #125
I would suggest sticking with PHP 7.1 or 7.2 with the current version of
Flarepoint CRM, since it's based on Laravel 5.4.

That said, Flarepoint CRM 2.x will fully support PHP 7.3. But I don't have
a timeframe for when that will be released since I'm in the middle of
changing jobs and moving to another state here in the USA. So development
will slow significantly between now and the end of Septemb

[2019-08-03 05:39] cyborix commented on #125
thanks guys @jhuebel @giesta  💐

My PHP version 7.3.7
After removing **'operator'** from **'compact'** method its working @giesta

[2019-08-17 21:16] chilio opened #126 "Phone number restrictions"
Hey,
global countries wise, there shouldn't be phone validation with max 10 chars.
Accepted format should cover `+phone number` with at least 12 chars.
Without it you should not use `tel:` in `a href="...`
I would suggest using one of available libraries for validation, like for example (laravel-phone)...
Finally phone numbers do not have to be 255 long in database....

[2019-08-17 23:23] jhuebel commented on #126
I'm in the middle of moving, so this won't be implemented until at least
late-September. But it is on my to-do list. Phone number validation,
city/state/country lookup and several other contact related improvements
are planned.

The move to separate contact records was implemented in as simple of a way
as possible when 1.2 was released. The intention was to come back to it and
improve it later.

I

[2019-08-21 14:07] lalitmrpvision opened #127 "Is this portal support client login?"
Is this portal support client login?

[2019-08-21 14:10] jhuebel commented on #127
No, it doesn't. However, this is on my roadmap for v2.1, which is a couple of releases away and tentatively planned for release in January 2020.

[2019-08-21 14:12] lalitmrpvision commented on #127
Ok, Thank you

[2019-08-21 14:12] #127 closed

[2019-09-07 18:06] giesta opened #128 "I can't reset my password"
When trying to reset my password I am getting the error "Cannot send message without a sender address"

[2019-09-09 06:17] cyborix commented on #128
You have to configure [SMTP](https://stackoverflow.com/questions/31871806/laravel-homestead-swift-cannot-send-message-without-a-sender-address) **.env** **Mail.php**

you can use
* [Mailtrap.io](https://mailtrap.io/)
*Gmail
this all are free SMTP

[2019-09-09 06:17] cyborix commented on #128
You have to configure [SMTP](https://stackoverflow.com/questions/31871806/laravel-homestead-swift-cannot-send-message-without-a-sender-address) **.env** & **Mail.php**

you can use
* [Mailtrap.io](https://mailtrap.io/)
* Gmail
this all are free SMTP

[2019-09-09 20:03] giesta commented on #128
SMTP is configured and I am getting this error.

[2019-09-10 18:42] giesta commented on #128
I am using Mailtrap.io
![image](https://user-images.githubusercontent.com/47950470/64640990-e00e2000-d413-11e9-800d-0a9f150a7d51.png)

[2019-09-10 20:07] #128 closed

[2019-09-11 07:38] cyborix commented on #128
welcome bro...! 🤟👍

[2019-09-19 05:23] vesper8 opened #129 "can't get the 5.8 branch to work?"
I just checked out the laravel-5.8 branch, followed the installation instructions and it all went smoothly. I can access the CRM and log in, but then once I'm in the gui seems to not be working. For example when clicking on most of the menu items such as Clients, Tasks, Leads, the sub-menu does not expand and I see this error in my console:

[code]

On top of following the installation instruction

[2019-09-19 11:46] jhuebel commented on #129
5.8 branch isn't ready for use. It's currently in a non-functional state.

On Thu, Sep 19, 2019, 12:23 AM C-Bass <notifications@github.com> wrote:

[2019-11-03 13:26] gstearmit commented on #19
root@4a5d5f4b483a:/var/www/html# php -v
PHP 7.2.24 (cli) (built: Oct 25 2019 04:29:43) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies

---------------> error -----

  SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fa
  ils (`flarepoint`.`role_user`, CONSTRAINT `role_user_r

[2019-11-07 21:43] jmichaelterenin commented on #129
Hi there, is there a timeline for when this package might be available for Laravel 5.8?

[2019-11-09 21:01] jhuebel commented on #129
I should begin working on this again in the next couple of weeks. I’m
hoping to have the migration complete by the end of December. I apologize
for the delay, but I had to put improvements to Flarepoint on hold since I
recently moved to a new city and job.

On Thu, Nov 7, 2019 at 3:43 PM jmichaelterenin <notifications@github.com>
wrote:

[2019-11-09 21:21] vesper8 commented on #129
well might as well skip ahead to Laravel 6 in that case : ) since this is used as a standalone package, seems to make sense to upgrade to the latest version at the time

[2019-11-09 21:22] jhuebel commented on #129
That’s actually the intent. Just haven’t sat down to evaluate which version
to switch to yet. :-)

On Sat, Nov 9, 2019 at 3:21 PM C-Bass <notifications@github.com> wrote:

[2019-11-11 00:31] jhuebel commented on #129
Pulled the laravel-5.8 branch for now. I had pushed it out to github so I could work between my home and work computers. It wasn't meant to be public yet.

[2019-11-11 00:31] #129 closed

[2019-12-24 12:54] LincolnTK opened #135 "BadMethodCallException This cache store does not support tagging."
i just installed flarepoint and the following error comes after loging in:
![image](https://user-images.githubusercontent.com/51019232/71413943-3d457e80-265d-11ea-9850-2921de790e6c.png)

[2019-12-24 13:04] #135 closed

[2019-12-24 13:04] LincolnTK commented on #135
solved. i changed the cache driver in .env to CACHE_DRIVER=array

[2020-03-19 11:12] cyborix opened #136 "Laravel 6"
Im trying to upgrade flarepoint  to laravel 6. everything is working  except role based management  (**Entrust**) [https://github.com/Zizaco/entrust](url)
entrust not supporting for laravel 6
any alternative solution or other package
i need help on this  ......!!
please help me guys .....!!

[2020-03-19 12:17] 3gen commented on #136
How about spatie’s permission: https://github.com/spatie/laravel-permission

On Mar 19, 2020, at 7:12 AM, gigas <notifications@github.com> wrote:

﻿

Im trying to upgrade flarepoint to laravel 6. everything is working except role based management (Entrust) https://github.com/Zizaco/entrust<url>
entrust not supporting for laravel 6
any alternative solution or other package
i need help on this .....

[2020-03-19 13:34] Bottelet commented on #136
I've wanted to fix the entire permissions on Flarepoint for some time as entrust seems to be no longer actively maintained. Spatie could be a solution. There is also a fix out there on how to Entrust working with < Laravel 6, but don't remember it. I'll try and find it later.

[2020-03-20 03:57] cyborix commented on #136
@3gen thanks bro i  try that...!
@Bottelet  can share your the FIX please ....!

[2020-03-23 09:33] cyborix commented on #136
Anything guys ..... spatie’s not helpful for my case
@Bottelet any idea ...?

[2020-03-23 09:37] Bottelet commented on #136
I found it last time by searching on the entrust repo.
https://github.com/Zizaco/entrust/issues?q=laravel+6
I had it fixed, can't find the exact solution i found last time.

Den man. 23. mar. 2020 kl. 10.34 skrev gigas <notifications@github.com>:

[2020-06-09 16:45] #136 closed

[2020-06-23 21:50] Bottelet commented on #126
If these are still a problem in Version 2.0.0
https://github.com/Bottelet/DaybydayCRM/releases/tag/2.0.0

Please reopen with new information

[2020-06-23 21:50] #126 closed

[2020-06-23 21:50] Bottelet commented on #122
If this is still a problem in Version 2.0.0
https://github.com/Bottelet/DaybydayCRM/releases/tag/2.0.0

Please reopen with new information

[2020-06-23 21:50] #122 closed

[2020-06-28 03:07] vitorfleite opened #148 "Issues when installing dependencies: composer version 1.10.8"
Deprecation Notice: Class Tests\Unit\Controllers\Client\AbsenceControllerTest located in C:/Users/Vitor/Desktop/DaybydayCRM-develop/tests\Unit\Controllers\Absence\AbsenceControllerTest.php does not comply with psr-4 autoloading standard. It will not autoload anymore in Composer v2.0. in phar://C:/ProgramData/ComposerSetup/bin/composer.phar/src/Composer/Autoload/ClassMapGenerator.php:201

Deprecati

[2020-06-29 18:43] mohamed-alashry opened #149 "jQuery is not defined"
the scripts not working correctly due to missing jQuery

![Capture](https://user-images.githubusercontent.com/16100373/86044606-98ac5b00-ba4a-11ea-877a-2ea9c3514590.PNG)

[2020-06-29 19:49] Bottelet commented on #149
Have you done `npm install` and maybe `npm run dev`?

[2020-06-29 19:50] Bottelet commented on #148
Hmmm Interesting, I do not get this error, when does it happen?

[2020-06-29 20:31] vitorfleite commented on #149
After done it showed a new error. The buttons are not collapsing.

![newbug](https://user-images.githubusercontent.com/7070675/86053013-3c3b4280-ba2e-11ea-9bec-ea8d18cc789f.jpeg)

[2020-06-30 12:18] ASonawane opened #151 "Is this application compatible with Laravel7?"
Will this application work with Laravel 7 (latest stable release) of Laravel? And what are the steps to achieve the compatibility?

Are their any plans of upgrading it to Laravel 7 in near future?

[2020-06-30 15:47] Bottelet commented on #151
It is not yet, but it is definitely on the backlog, the only really thing there is to do is follow Laravels official upgrade guide
https://laravel.com/docs/7.x/upgrade

[2020-06-30 17:30] mohamed-alashry commented on #149
now collapse in sidebar not opening
![Capture](https://user-images.githubusercontent.com/16100373/86157762-25691e80-bb08-11ea-9355-b97cc9acec01.PNG)

[2020-06-30 17:49] vitorfleite commented on #149
Mohamed,
In vendor.js change:
    if (!data && options.toggle && /show|hide/.test(option)) options.toggle = false
to:
      if (!data && options.toggle && /show|hide/.test(options)) options.toggle = false

[2020-06-30 17:59] #149 closed

[2020-07-04 14:04] Bottelet opened #152 "Upgrade to Laravel 7"

[2020-07-04 14:05] Bottelet commented on #151
I've created an issue.
https://github.com/Bottelet/DaybydayCRM/issues/152

[2020-07-04 14:05] #151 closed

[2020-07-07 07:23] PovilasKorop opened #153 "Default documentation about installation - not working"
Hey Casper,
Wanted to review DaybydayCRM on my Youtube channel, as you pointed me on Twitter, but I can't recommend to my audience a project that fails on installation.

1. On `composer install`, there's a warning: "_Deprecation warning: Your package name bottelet/DaybydayCRM is invalid, it should not contain uppercase characters. We suggest using bottelet/daybyday-crm instead. Make sure you fix t

[2020-07-07 18:19] Bottelet commented on #153
Hi @PovilasKorop

You are right, sorry, and that gives a bad impression of the CRM.

All the above errors have been fixed, and the documentation updated. Cheers for pointing it out.

[2020-07-07 18:20] Bottelet commented on #153
If you are running into any other problems please let me know, and I'll look into it.

[2020-07-07 18:20] #153 closed

[2020-07-08 05:30] PovilasKorop opened #155 "Sidebar menu links "Projects" "Tasks" etc - don't work: throw browser console error"
Whenever I want to go from Dashboard to any menu item on the left (it seems), I see console error:

[code]

See video: https://www.loom.com/share/5946accd32b043a5b0163f4280f54341

[2020-07-08 05:33] PovilasKorop opened #156 "Many duplicated DB queries for the settings"
Not a serious bug, but just caught while looking at a Debugbar. On any page you're calling the settings multiple times, maybe cache them somewhere or put into some View Composer globally?

<img width="1440" alt="Screen Shot 2020-07-08 at 8 30 24 AM" src="https://user-images.githubusercontent.com/1510147/86880601-9787c780-c0f5-11ea-97fe-20910d974fdb.png">

[2020-07-08 05:34] PovilasKorop commented on #153
@Bottelet yeah found a few more "show-stoppers" that prevent the review from happening, created issues for them. Nice work on fixing them quickly!

[2020-07-08 08:15] tongvanduc opened #157 "Target class [Spatie\Cors\Cors] not exist"
![image](https://i.ibb.co/YyW3JJG/image.png)

[2020-07-08 08:17] tongvanduc commented on #157
You need to add the spatie/laravel-cors package to composer.json

[2020-07-08 14:55] Bottelet commented on #155
Can you tell me if you are on docker?, and if not what version you are using node and NPM?

Also, there is a PR on it. Can you see if that works for you?
https://github.com/Bottelet/DaybydayCRM/pull/150... I haven't merged it yet, as I can't reproduce the error.

[2020-07-08 14:57] vitorfleite commented on #155
My pull request fix this.

https://github.com/Bottelet/DaybydayCRM/pull/150

[2020-07-08 15:06] Bottelet commented on #156
I fixed it with a cache here:
https://github.com/Bottelet/DaybydayCRM/commit/8f24d401f1f3d5343223c1723b989a0a6117b798

Cheers, gonna wait merge to master till the sidebar problem is fixed.

[2020-07-08 15:06] #156 closed

[2020-07-08 15:08] Bottelet commented on #155
@vitorfleite  can you tell me if this is happening with the docker setup? Or if you are running it local?

[2020-07-08 15:10] vitorfleite commented on #155
Local

[2020-07-08 15:13] Bottelet commented on #157
This should fix it:
https://github.com/Bottelet/DaybydayCRM/commit/b030185f59d78c9f252a37142f08a3efe1edc589
Cors are actually not used for anything, on the open-source version so there should be no reason to have it.

[2020-07-08 15:13] #157 closed

[2020-07-08 15:14] Bottelet commented on #148
https://github.com/Bottelet/DaybydayCRM/commit/6f495a623148a27067a911b6af3eb0d3ea9227b6
It should be fixed on develop... Please let me know if you still have trouble.

[2020-07-08 15:15] #148 closed

[2020-07-08 15:15] Bottelet commented on #155
@vitorfleite What npm and node version and you running with local?

[2020-07-08 16:46] PovilasKorop commented on #155
@Bottelet I'm not on docker.

[code]

Sorry don't have enough time to try to test it from PR, maybe in a few days.

[2020-07-08 20:48] Bottelet commented on #155
This should have been fixed, seems like there is something that breaks it from node version 10.9.X and npm 6.12.X
https://github.com/Bottelet/DaybydayCRM/pull/150

[2020-07-08 20:48] #155 closed

[2020-07-09 13:05] PovilasKorop commented on #155
@Bottelet I can confirm it's fixed for me too.

[2020-07-13 13:46] Ezyweb-uk opened #159 "Appointment booking form [question/feature request]"
Nice system!

Is there a method for linking a website form to book an appointment; some api functions to check on availability and to book would be very useful!

[2020-07-13 14:38] Bottelet commented on #159
That's a great idea, I have been thinking about adding API support, but I'm not 100% sure yet how I'm gonna approach it, as it also needs to be documented etc.

[2020-07-13 19:44] nielsdrost7 commented on #152
If you want to upgrade to Laravel take a look at for example the permissions package.
Entrust is ...well.. dead, but its successor is Laratrust.
There is no database changes needed, you just need to interchange entrust with laratrust (and then start testing)

I haven't looked at the other packages yet

[2020-07-13 19:50] Bottelet commented on #152
Thanks for the tip! Yeah, I've been thinking about getting rid of Entrust, because it's not updated anymore, the way I have solved it for now though is to put it inside its own folder structure.Thanks for the tip, will give Laratrust and look

[2020-07-14 13:25] Rohrig opened #160 "Side Nav Bar Menu Not working with docker install"
Using the docker install Readme the sidebar menus don't open. The routes work fine, just a collapse issue i assume.

[2020-07-14 14:32] Bottelet commented on #160
@Rohrig Have you done Npm install and npm run dev?

[2020-07-14 14:44] Rohrig commented on #160
yes, I followed the Readme instructions exactly

[2020-07-14 15:34] Rohrig commented on #160
@Bottelet I made a short video of the install process so you can see the issue. I'll try to find a solution but I'm not very familiar with the project so no promises.

https://youtu.be/QqWapWWiAkI

[2020-07-14 15:43] Bottelet commented on #160
Hmm yeah okay I see, can you try deleting your node_modules folder? and do npm install and npm run dev again?

[2020-07-14 15:49] Rohrig commented on #160
@Bottelet Thanks. That did it.

It should, in theory, work the first time around. Do you know what the issue may be?

[2020-07-14 15:53] Bottelet commented on #160
Hmm, @Rohrig I agree it definitely should, I am not sure, maybe something went wrong in the installation. Dunno, sorry, but glad it worked.

[2020-07-14 15:53] #160 closed

[2020-07-19 19:24] vitorfleite commented on #160
@Rohrig send us a picture with the google chrome's console after pressed the side nav bar menu.

[2020-07-20 13:37] rogermule opened #164 "Which port does the app use by default when running in dev mode locally?"

[2020-07-20 19:59] Bottelet commented on #164
If it's docker or artisan serve, it's default port 80, http://localhost:80

[2020-07-21 13:24] zimbar opened #165 "Javascript error"
Hello

I try to use the application but when i load in browser i have this javascript errors

![Capture d’écran du 2020-07-21 14-23-12](https://user-images.githubusercontent.com/1899203/88060186-cc683580-cb5d-11ea-937a-75bb0714a60f.png)

When i click on left menu i have this javascript error :

caught TypeError: Cannot convert object to primitive value
    at RegExp.test (<anonymous>)
    at HTMLD

[2020-07-21 15:32] Bottelet commented on #165
Have you done, npm install and npm run dev?

[2020-07-21 15:42] rm-yakovenko commented on #165
Looks like it's a jquery issue. Updating jquery to 3.5.1 fixes the issue.

[2020-07-21 16:06] rogermule commented on #164
Ok, thank you.

[2020-07-21 16:06] #164 closed

[2020-07-22 07:38] zimbar commented on #165
Thanks it works

[2020-07-23 12:27] canerksk opened #166 "Welcome page"
Hello there,

I cannot make a separate homepage. redirects to the home page every time. welcome.blade.php not working.

I'm waiting for your help, thank you.

[2020-07-24 20:32] #166 closed

[2020-07-26 21:17] isaacabensur opened #168 "Cannot convert object to primitive value"
I have a problem when i try with a click in menu item parent. In the console fo crhome appears

 Cannot convert object to primitive value

![image](https://user-images.githubusercontent.com/3707691/88489706-80e9c900-cf5b-11ea-80f5-ee0ffb885d05.png)

![image](https://user-images.githubusercontent.com/3707691/88489685-63b4fa80-cf5b-11ea-94d6-aa5cfa6e0d0c.png)

[2020-07-26 21:19] canerksk commented on #168
I have this problem too and I still can't solve it.

[2020-07-27 00:10] ricardoperovano commented on #168
same error here

[2020-07-27 00:59] canerksk commented on #168
When I remove public/js/vendor.js line 732 code, the problem seems correct, but I don't know where another line is connected.

delete this line;

`if (!data && options.toggle && /show|hide/.test(option)) options.toggle = false`

[2020-07-27 01:16] ricardoperovano commented on #168
I solved upgrading jquery to 3.5.1

[2020-07-27 02:36] isaacabensur commented on #168
Thanks!!! Is solved now!!!

[2020-08-01 03:23] #168 closed

[2020-08-03 05:43] peeyushx opened #173 "Cannot find VerifyController"
couldn't understand what's the issue but the nav menu items that have dropdown are not working, when rendered route to a herf link, the error comes:
In Container.php line 806:
Target class [App\Http\Controllers\VerifyController] does not exist.
Spent hours trying to solve it but couldn't

[2020-08-03 05:45] peeyushx commented on #173
using laravel 7

[2020-08-04 13:24] MakamuEvans commented on #155
Does changing a generated file like vendor.js mean that everytime am running the npm dev/prod with changed code i'll have to keep editing the file?

[2020-08-06 16:41] #165 closed

[2020-08-06 16:41] Bottelet commented on #165
Fixed it https://github.com/Bottelet/DaybydayCRM/pull/172 by @rm-yakovenko

[2020-08-06 16:46] Bottelet commented on #173
@peeyushx Where do you experience this problem?

[2020-08-06 16:48] Bottelet commented on #173
And did this commit fix it, maybe?
https://github.com/Bottelet/DaybydayCRM/commit/e4f0bbad799bec422c81725562253db39544ee92

[2020-08-08 09:49] rm-yakovenko commented on #165
Thanks @jvas28

[2020-08-08 17:42] rm-yakovenko commented on #173
This one seems related to #165

[2020-08-09 20:02] Edgarborras94 commented on #173
Have you updated your jquery or bootstrap version?

I needed to change a id in `/resources/views/layouts/master.blade.php`: line 38

From:
[code]

To:
[code]

Hope it helps

[2020-08-10 18:44] Edgarborras94 opened #177 "Posible problems with relative routes"
I found some relative routes that might cause errors in certain environments.

ie: `resources/views/tasks/show.blade.php`:line 269
[code]
Can cause errors in example on localhost routes:
expected: `http://localhost/daybydaycrm/public/add-invoice-lines/id/task`
what you actually get: `http://localhost/add-invoice-lines/id/task`

An easy solution might be using laravel URL helper:
[code]

I'm trying

[2020-08-11 05:19] Bottelet commented on #177
No please do, always looking for improvements, a better solution might be too use named routed `{{route('name')}} what's your thought?

[2020-08-11 07:09] Edgarborras94 commented on #177
Sure!! I will collect all the relative url and then look for all the named routes 😉

[2020-08-14 13:00] Abhay-8019 opened #178 "how to run"
im runing this crm  on local system   localhost/daybyday/public      but its not running

when i was runing this on php artisan command its runing why
 help me

[2020-08-17 10:11] Edgarborras94 commented on #178
Did you follow all the instructions from the [Installation page](https://github.com/Bottelet/DaybydayCRM/wiki/Install) ?

Just tried to fresh install and no problem on my side.

[2020-08-17 17:33] Bottelet commented on #178
@Abhay-8019 Did you fix the problem?

[2020-08-17 19:54] #173 closed

[2020-08-19 16:14] Bottelet commented on #152
https://github.com/Bottelet/DaybydayCRM/commit/9ff214bbfd63937aad5f458fcf065868067bfdb4
Very simple upgrade.

[2020-08-19 16:14] #152 closed

[2020-08-19 16:15] Bottelet opened #179 "Entrust -> Laratrust"
@nielsdrost7 says it should be fairly simple, let's look into it, as entrust has been hacked to worked with laravel 6+

[2020-08-19 16:15] #178 closed

[2020-08-21 21:03] url84t opened #180 "Installation issues Docker"
Getting this issue during install:

[code]

[2020-08-23 08:21] #180 closed, assigned to nobody

[2020-08-25 05:22] Abhay-8019 commented on #178
yes   now its working
thnx

[2020-08-26 12:21] lakuapik opened #186 "Error running migration for payments table"
i got this error when running the migration:

SQLSTATE[23000]: Integrity constraint violation: 19 NOT NULL constraint failed: permissions.external_id (SQL: insert into "permissions" ("display_name", "name", "description", "grouping", "updated_at", "created_at") values (Add payment, payment-create, Be able to add a new payment on a invoice, payment, 2020-08-26 12:03:44, 2020-08-26 12:03:44))

![ima

[2020-08-31 14:13] Bottelet commented on #186
I am not getting this error which commands are you running?

I tried with `artisan migrate:fresh --seed` and I get no exceptions

[2020-08-31 14:13] Bottelet commented on #186
And which database, and version?

[2020-09-01 04:02] lakuapik commented on #186
i don't know exactly which version of daybydaycrm is, i just follow the installation instruction from https://github.com/Bottelet/DaybydayCRM/wiki/Install and clone the repo. i didnt see a version in `composer.json` file, but the latest commit is ae7c42ca778707db0a06f7b3bc22bd95f5a91342.

![image](https://user-images.githubusercontent.com/20186786/91793125-78af3880-ec41-11ea-9f38-235422062c52.png)

[2020-09-01 04:04] lakuapik commented on #186
weirdly, i just tried to run artisan migrate again, it works and doesn't return any exception.

well i think im just going to close this issue.

[2020-09-01 04:04] #186 closed

[2020-09-01 07:44] Bottelet commented on #186
Perfect as long as it works @lakuapik , feel free to open a issue and pr anytime :)

[2020-10-08 14:50] MCKLtech opened #190 "Ownership / Restriction of Clients by User / Organisation"
We have a use case whereby certain users would only have access to certain clients. For example:

Organisation EU: User A, User B, User C

Organisation USA : User D, User E, User F

Organisation EU, and its users, can only see clients of the Organisation EU.

Organisation USA, and its users, can only see clients of the Organisation USA.

Is there a way to achieve this without setting up independen

[2020-10-09 19:24] Bottelet commented on #190
This can not be done out of the box today. You would be able to add it yourself without too much hassle easily, I believe. Another way to achieve this would be to basically host two different CRM systems, one for the US and one for the EU. And then they would only have access to their own corresponding data.

[2020-10-09 19:39] MCKLtech commented on #190
@Bottelet , thank you for the response. I was hoping to avoid a completely separate install scenario.

Do you have any pointer as to how this could be set up at a code level? Are roles a good idea here or is there a more extensive / better option?

[2020-10-09 20:08] Bottelet commented on #190
I think you can do this by adding a new organization table and having a reference to the users, tasks, etc. or trying to do it with departments, which would mean that you can't use departments for what they are meant to though. You could also do it with roles probably, but no matter what you do you will have to change the data structure.

The better option would be to go to https://daybydaycrm.com

[2020-10-11 09:02] #190 closed

[2020-10-15 10:42] bradashfaq opened #191 "Class 'Memcached' not found"
Class 'Memcached' not found is coming. Any idea what should we do ?

[2020-10-15 19:24] MCKLtech commented on #191
Came here to open this same issue. I'm guessing it is to do with an adapter.

[code]

[2020-10-15 19:52] Bottelet commented on #191
When does this happened? What are you trying to do? I usually use redis.

tor. 15. okt. 2020 21.24 skrev MCKLtech <notifications@github.com>:

[2020-10-15 20:53] MCKLtech commented on #191
The fix is in my first comment. In cache.php the driver is set to memcache which will cause an error for actions in composer or artisan. The fix is to change this to the correct driver for the landscape or if running locally, change it to 'file'

[2020-10-16 07:04] bradashfaq commented on #191
Thanks, It is fixed by cache.php I have changed the drivers and now working :)

[2020-10-21 10:00] Nirys commented on #191
Generally an issue when you don't have memcached PHP extension installed/enabled.  Suggest using file caching driver as repo default - have raised a PR.

@Bottelet ... any chance you'd mark this repo for Hacktoberfest? :)

[2020-10-21 10:11] Nirys opened #193 "Having country list hard coded is restrictive"
We're looking at adopting DayByDay for a client project, however being based in Australia we don't have an option for Australia out of the box.

Would you consider having this data (country, currency code, etc.) in tables so that it's more easily extensible?  I'm totally keen to submit a PR for this if it would be a welcome feature.

[2020-10-21 18:57] Bottelet commented on #191
@Nirys I am not actually sure what "Hacktoberfest" is about, and what is required, but it sounds like something I could consider.

[2020-10-21 18:57] #191 closed

[2020-10-21 18:59] Bottelet commented on #193
@Nirys I would be open to this, but can you tell me your use-case? The reason it is on a file currently is because it's static information, and the users can't change any of the settings.

[2020-10-21 22:06] Nirys commented on #191
Thanks @Bottelet .  Hacktoberfest is an annual event that encourages people to contribute to open source projects through meaningful PRs.

Projects can opt in by adding the topic "hacktoberfest", or can allow individual PRs to count by labeling the PR with hacktoberfest-accepted

[2020-10-21 22:16] Nirys commented on #193
@Bottelet , I guess I see a couple of things here:
- The current list is nowhere near representative of all countries in the world.  Having this list be database based, makes it easier to add them over time or for new installs to add a country they need, without having to modify the core codebase.

- Country data, while changing _rarely_ is not actually _static_.  The names, currencies, phone code

[2020-10-23 20:47] Bottelet commented on #191
Fixed https://github.com/Bottelet/DaybydayCRM/pull/192 Thanks @Nirys

[2020-10-25 06:04] thistehneisen opened #195 "Note for MariaDB (e.g. Plesk users)"
```./migrations/2016_05_21_205532_create_activities_table.php:23:            $table->json('properties')->nullable();```
Has to be changed to $table->text for MariaDB versions < 10.2 (e.g. Server version: 10.1.44-MariaDB-0ubuntu0.18.04.1)

[2020-10-25 06:10] thistehneisen commented on #195
Will add also here further:
```found 623 vulnerabilities (613 low, 2 moderate, 8 high)``` doesn't look to good (`npm install`) and is there a reason why Company name can't be changed from Media to anything else?

[2020-11-06 22:08] dymond opened #197 "Google Drive Integration"
Are there any instructions on how to set this up? The button in settings does not work and I've added credentials into `config/services.php` to no avail. I've googled trying to find anything about this, but it doesn't seem like there is much documentation out there.

[2020-11-07 02:45] triptronics opened #198 "Unable to install with docker"
Hello, I have attempted to install via docker following the instructions but I'm having an issue.

![Capture](https://user-images.githubusercontent.com/44954029/98430113-54287000-2079-11eb-9f5a-02d434f80fc4.JPG)

That happens after I run: sudo docker-compose exec php composer install

Seems like a permissions issue maybe, not sure. Please help, thanks!

[2020-11-13 11:40] rm-yakovenko commented on #198
Hello @triptronics.

Could you try the following steps:
[code]
Internally, the docker container runs as the user with id 1000. Looks like the code was cloned by a user with a different id. That's why it cannot create the vendor folder and fails. The above steps should fix the issue, but I'm not sure that it's the best solution.

[2020-11-15 07:15] kazuyoshi-tech opened #200 "An error occurs when posting an avatar image at users create or update"
The error is as follows when uploading the avatar image as written in the title

![スクリーンショット 2020-11-15 16 30 37](https://user-images.githubusercontent.com/55447682/99179342-0807ba80-2760-11eb-90ef-1a658f150ae6.png)

![スクリーンショット 2020-11-15 15 25 09](https://user-images.githubusercontent.com/55447682/99178773-fc18fa00-2759-11eb-882b-877eca544465.png)

![スクリーンショット 2020-11-15 15 25 18](https://user-i

[2020-11-15 08:36] kazuyoshi-tech commented on #200
I'm sorry

It seems to be a function to upload images to AWS-S3

I had a misunderstanding

[2020-11-15 08:36] #200 closed

[2020-11-19 17:39] lYesterdaYl opened #201 "Force a new status on invoice?"
I can't register a payment before sending an invoice, but I see it says I can force a new status on invoice. How do I do that?

[2020-11-19 19:07] Bottelet commented on #198
@triptronics
Did you figure it out? If not please reopen the issue

[2020-11-19 19:07] #198 closed

[2020-11-20 00:24] lYesterdaYl opened #202 "very slow loading on large data."
Hi, I imported large amount of data to task and invoice. About 1000+ for now, but it takes at least a min to load a page.

[2020-11-20 10:53] traci12 opened #203 "Project and Task Management"
Can't update and delete created projects and tasks.

[2020-11-20 11:09] rodent-x opened #204 "Issue creating / migrating dummy database in Azure Web-App"
Hi

First - many thanks for the CRM!

I have followed the installation steps in the documentation to install the application on an Azure Web Application with MySQL 'In App'.

I have created an empty database but when trying to run 'php artisan migrate' I get the following error:

D:\home\site\vendor\laravel\framework\src\Illuminate\Database\Connectors\Connector.php:70
      PDOException::("SQLSTAT

[2020-11-22 13:55] #202 closed

[2020-11-22 14:32] Bottelet commented on #203
Hi @traci12, can you give some more information? Tasks and projects aren't deletable, that they are supposed to also serve as a log, that can't be changed, but what do you mean you aren't able to update?

[2020-11-22 14:33] Bottelet commented on #201
Hi @lYesterdaYl I am not sure i know what you mean, where does it say you can force a status on an invoice?

[2020-11-22 14:34] Bottelet commented on #197
Hi @dymond The GDrive Google Integration is not 100% available on the open-source project yet. Is this something you need, or can you handle it with local storage?

[2020-11-22 14:35] Bottelet commented on #204
Hi Denis,

I'm sorry I do not have a lot of Azure experience, maybe try by starting to get a normal Laravel application running, and then move on to daybydayCRM?

[2020-11-22 14:35] #204 closed

[2020-11-22 14:36] Bottelet commented on #193
@Nirys I will stick with it being in files for now, as I don't see the advantages of having it in the databases, there shouldn't be a need to add any other country than your own to the options.

[2020-11-22 14:36] #193 closed

[2020-12-01 18:32] lYesterdaYl commented on #201
Sorry, I made some arrangement later, but here is the sentence.
![image](https://user-images.githubusercontent.com/5135163/100781891-826f4600-33c0-11eb-80af-a2ebb1fe1a81.png)

[2020-12-01 18:32] #201 closed

[2020-12-01 18:33] lYesterdaYl opened #208 "How do I recompile the vue component?"
I want to make an adjustment on the Graphline.vue. How can I recompile it? Any helps are appreciated.

[2020-12-01 19:08] Bottelet commented on #208
Hi @lYesterdaYl
Running yarn run dev or yarn watch should fix the problem.

[2020-12-01 20:33] lYesterdaYl commented on #208
Hi, I got this error upon running the command.

[code]

[2020-12-01 20:38] Bottelet commented on #208
Can you try and delete your node_modules folder and do the following?:
[code]

Not sure how well the setup works on windows, haven't really tried.

[2020-12-01 20:39] Bottelet commented on #201
Should be possible be clicking the "send invoice" button on the right side, inside the invoice page.

[2020-12-01 20:48] lYesterdaYl commented on #208
I just did that. I deleted both vendor and node_modules folders. And run composer install and npm install. But npm run dev always shows the same error above.

[2020-12-02 03:23] lYesterdaYl commented on #208
made it work on my server. I guess it is just node.js version problem.

[2020-12-02 03:23] #208 closed

[2020-12-02 03:25] lYesterdaYl opened #209 "Search on datatables."
Hi, Maybe this is not your problem, but by any chances, do you know why the search doesn't work on raw column? This is how I do for the raw column. The search function only works for table columns

[code]

[2020-12-30 18:41] lYesterdaYl opened #213 "update user 403"
Hi, I am trying to update the user information, but I am getting 403 error. Any helps?

[2020-12-30 18:51] Bottelet commented on #213
Hi, do your role have the sufficient permissions?

[2020-12-30 19:01] lYesterdaYl commented on #213
Oh, it works now. didn't know about the role permission. Thanks!

[2020-12-30 19:01] #213 closed

[2020-12-30 23:13] lYesterdaYl opened #214 "The profile image stored under storage/app instead of storage/public"
Hi, the profile image file should be stored under storage/public in order to display with image tag. right?

[2020-12-30 23:30] #209 closed

[2020-12-31 01:22] lYesterdaYl opened #215 "Need help on customizing top panel search bar."
Hi, I am trying to adjust the top panel search bar to search for other model's table.

I have added below into the function and modified the Search.vue
[code]

But I got this error:

[code]

[2020-12-31 01:41] #215 closed

[2021-01-03 00:41] ronlinet opened #216 "Including CRM into existing Laravel app"
Can you hook this package into an existing Laravel installation without interfering with existing users table?

[2021-01-03 23:30] marohds opened #217 "Error - task list - tasks without assigned project"
Hi,
This is my first try of DaybydayCRM.

I've found that Task List throws an error when there are tasks without assigned project.

[23:19:02] LOG.error: ErrorException: Trying to get property 'company_name' of non-object in .../Flarepoint-crm/app/Http/Controllers/TasksController.php:69

Regards

[2021-01-04 11:25] rm-yakovenko commented on #217
Hello!

It looks like this issue has been fixed in the **develop** branch but still exists in the **master** branch (https://github.com/Bottelet/DaybydayCRM/commit/2a284a19000264020b4f667ffbec29003734d41e#diff-02366b87a11c4c84a4ddcae1877d827ad8e69433198115cee3eb48a5572cc450L72).

As a temporary workaround, you could apply this patch.

[217_Error_-_task_list_-_tasks_without_assigned_project.patch.z

[2021-01-04 15:40] skylineCodes opened #218 "Add New button in index pages of clients, projects, tasks, leads, users"
Hello Contributors,

For easy accessibility, can we please have a Add New button in the index pages of all resources like clients, projects, tasks and the rest. This will ease the burden of having to go to the sidebar before I can create a new resource. I have attached a picture of what I mean in this issue.

Thanks

![daybyday](https://user-images.githubusercontent.com/31807877/103551625-e34fd980

[2021-01-04 17:01] Bottelet commented on #217
Hi @rm-yakovenko Where do you see this in develop, but not master?

Master should be in front as I am gonna deprecate, develop soon.

Cheers

[2021-01-04 17:02] Bottelet commented on #216
Hi @ronlinet

That is unfortunately not possible. I have played with the thought of doing it as a package, but it won't be for now.

[2021-01-04 17:02] #216 closed

[2021-01-04 18:35] lYesterdaYl commented on #214
Hi, can anyone help? I already change the storage setting in filesystem.php to 'local'. I tried to upload an avatar. I do see the image store in the storage, but the image is broken in the system.

[2021-01-05 07:42] rm-yakovenko commented on #217
Hi @Bottelet.

Looks like the issue still exists and needs to be fixed.

This error occurs in `TasksController.php` in the following code:
https://github.com/Bottelet/DaybydayCRM/blob/c55491a30b8d7cf165d402878c3dd6aed9ca2f04/app/Http/Controllers/TasksController.php#L68-L70

But in the **develop** branch, there's no `client` column. That's why it's not thrown there.

`->editColumn('client', functio

[2021-01-05 12:37] marohds commented on #217
Hi @Bottelet, @rm-yakovenko

First of all, thank you for your time.

I've had that error because I tried to have a Project without assigning it to clients.

I couldn't find any documentation that leads me to use Project-Client-Task relations. So i've started to probe and guess how to use these, because i'm new at CRM standars too.

My intention is to have one or more contextual projects so I can l

[2021-01-05 14:48] rm-yakovenko commented on #214
Hello @lYesterdaYl .

Could you try to add `public` disk https://github.com/laravel/laravel/blob/7.x/config/filesystems.php#L50-L57 and use it as default?

Don't forget to run `php artisan storage:link`.

Regards.

[2021-01-07 19:32] Bottelet commented on #217
This has been fixed by @rm-yakovenko Thanks!

[2021-01-07 19:32] #217 closed

[2021-01-08 07:17] #203 closed

[2021-01-08 07:18] #197 closed

[2021-01-08 19:09] lYesterdaYl commented on #214
Hi,
Sorry for the delay, I have problem on running `php artisan storage:link`. When I run it, it prompt this error
[code]

I had this error before, but it was caused by not deleting the storage file in the public dir. I checked the folder, but there is no storage folder. Can you help me on this?

[2021-01-09 08:23] rm-yakovenko commented on #214
Okay, I think I got the problem.

Could you try the following code:

[code]

There is no `storage/app/public` folder in the code that's why `php artisan storage:link` creates an invalid symlink.

[2021-01-11 18:35] lYesterdaYl commented on #214
Hi, I just found there a file in the storage/app name "public". I think that's why storage:link wasn't working. And the public setting makes it works too. Thanks.

[2021-01-11 18:35] #214 closed

[2021-01-12 20:42] jerry-lee-2020 opened #226 "New Installation but Left Navigation Not Clickable"
Dear Contributors,
I am new to this CRM and I am having trouble setting this up.  After installing the application I can login with the default admin account, but none of the links on the left navigation pane is clickable. Is there something obvious that I am missing to get this fixed?

Please advise. Thank you.

[2021-01-12 21:06] Bottelet commented on #226
Hi, @jerry-lee-2020,

You have to run ỳarn install && yarn dev`

[2021-01-15 16:11] #226 closed

[2021-01-18 10:08] kaletkof opened #227 "Routing cache"
Why is routing not cache?

[2021-02-05 19:48] sprklinginfo opened #230 "question: Is it multi-tenancy system?"
Hello, I am looking for a CRM built by Laravel, ideally, I hope to find a package for an existing laravel application but failed. Then I come across this project which looks nice. A great project! but I am wondering if the system can be used as a multi-tenancy solution? So each user can manage his/her own small team with its own clients? Thank you in advance!

[2021-02-14 13:59] ceciogit opened #231 "Not an Issue"
Hello Guys, as title say this is not an issue, ive tried writing @Bottelet on twitter (i have registred on twitter only for this .. lol) or find some discord channel of yours without success. please feel free to delete this if you think is totally the wrong place and sorry for that!

I am actually "porting" a Cms/Cck (content construction kit) that i have created and used for years for multiple pu

[2021-02-15 16:40] Bottelet commented on #231
Contacted you on Twitter.

[2021-02-15 16:40] #231 closed

[2021-02-15 16:42] Bottelet commented on #230
It is possible, but it is not out of the box, as the license does not allow for reselling. If you want each user to be able to handle their own small team, I suggest you try and look at departments, it could most likely be done with this.

[2021-02-15 16:44] Bottelet commented on #227
@kaletkof Can you please explain?

[2021-03-12 11:19] mgrWetales opened #234 "Namespaces are not correct in test cases"
**while running composer update getting following psr-4 warnings:**

Class Tests\Unit\User\TaskObserverDeleteTest located in ./tests/Unit/Task/TaskObserverDeleteTest.php does not comply with psr-4 autoloading standard. Skipping.
Class Tests\Unit\User\LeadObserverDeleteTest located in ./tests/Unit/Lead/LeadObserverDeleteTest.php does not comply with psr-4 autoloading standard. Skipping.
Class Tests

[2021-03-12 11:23] mgrWetales opened #235 "Getting abandoned warning for composer packages"
Package guzzlehttp/ringphp is abandoned, you should avoid using it. No replacement was suggested.
Package guzzlehttp/streams is abandoned, you should avoid using it. No replacement was suggested.
Package phpunit/php-token-stream is abandoned, you should avoid using it. No replacement was suggested.

Two are associated with elasticsearch/elasticsearch and one with phpunit/php-code-coverage

[2021-03-26 03:26] redx1t opened #236 "notification mark as read error"
Call to a member function markAsRead() on null

error on clicking on the notifications section. missing the notifications model and am unable to locate the markasread as well as unreadnotifications model extension.

[2021-03-27 18:42] rpires-dev opened #237 "Unable to upload profile photo"
I get a Connection refused [tcp://localhost:6379] when i try to upload a profile photo .. any idea(s)?

[2021-04-01 13:33] kobeumut commented on #186
I have the same error if I am using PostgreSQL. I've tried two times but it's not working. Also, I have succeeded to install it with MySQL. I've tried to change the nullable field for external_id in the migration folder but I've got another error with pgsql. You should definitely look into this problem, I actually wanted to use it with pgsql.

[2021-04-01 14:41] kobeumut opened #239 "External_id error running migration"
if I want to install with PostgreSQL, I got a blow error;
[code]
<img width="1228" alt="Screen Shot 2021-04-01 at 14 12 08" src="https://user-images.githubusercontent.com/5182289/113310803-48cc2e80-9311-11eb-907f-cc7e8161976b.png">

I think it's related to #186. Also I have succeeded to install it with MySQL. I've tried to change the nullable field for external_id in the migration folder but I've

[2021-04-09 19:11] Bottelet commented on #237
Hello, can you check if your storage settings are?

It will use your default Storage configuration

[2021-04-09 19:13] Bottelet commented on #239
I haven't tried using Daybyday with a PostgreSQL database. I might try and get onto that at some point, but not for now, I'll gladly merge a PR if you find a fix. Else currently only MySQL is supported.

[2021-04-09 19:13] #239 closed

[2021-04-09 19:13] Bottelet commented on #236
Will look into this. Thanks!

[2021-04-09 19:17] Bottelet commented on #234
Thanks fixed now:
https://github.com/Bottelet/DaybydayCRM/commit/830b3c52475441ea9dd619ac7630722299293cad

When copy-paste goes to fast :)

Thank you @mgrWetales,  for pointing it out for me!

[2021-04-09 19:17] #234 closed

[2021-04-09 19:17] #230 closed

[2021-04-09 19:18] #227 closed

[2021-04-09 19:21] Bottelet commented on #218
Will get to this soon!

[2021-04-09 19:21] Bottelet commented on #195
This can be done, in the DB or tinker, if you wish. It's a symptom from the hosted solution sorry! Might make a fix for this.

[2021-04-09 19:21] #195 closed

[2021-04-10 08:29] Bottelet commented on #236
Hello, @redx1t I can not reproduce this, can you give me some more information?

[2021-04-10 18:08] ddiaz2380 opened #243 "error adding user"
Hello, the project is really incredible!
Now ... when I want to add a user it gives me an error 500. It also doesn't let me change the language to Spanish, it always stays in English.

[2021-04-16 11:39] mgrWetales opened #245 "System loading very slow after adding 3000 clients"
I have imported 3000 plus clients with their contacts.
Now, this system loads very slow and in the debugger, it shows 3092 queries with 6523 models loaded.
I checked server resources and found MySQL is taking 50% plus memory on each request.

![image](https://user-images.githubusercontent.com/75842550/115019066-499abe00-9ed6-11eb-8327-4763d18cd075.png)

[2021-04-17 07:57] Bottelet commented on #245
I see. thank you. I will try and make some performance optimization, I haven't really focused on this, at any point.

[2021-04-17 08:00] Bottelet commented on #243
Hi @ddiaz2380 , do you see any errors? Can you maybe post the Laravel log?  for more information?

[2021-04-17 17:46] ranjit-git opened #247 "error during install"
i got bellow error during installation

user@user-xx:~/Desktop/huntr/DaybydayCRM$  php artisan migrate --seed

   Illuminate\Database\QueryException

  could not find driver (SQL: select * from information_schema.tables where table_schema = daybyday and table_name = migrations and table_type = 'BASE TABLE')

  at vendor/laravel/framework/src/Illuminate/Database/Connection.php:671
    667|

[2021-04-18 17:32] huntr-helper opened #248 "🚨 Potential Security Vulnerability - huntr.dev"
#### ⚠️ Potential Vulnerability in DaybydayCRM

👋 Hello, @Bottelet - @ranjit-git has disclosed a potential vulnerability in your repository. To validate or invalidate this potential vulnerability, please visit https://huntr.dev/bounties/2-other-DaybydayCRM and join our community in helping secure open-source code.

---

#### ☎️ Need further support?

Come and join us on our [Discord](https://huntr

[2021-04-18 17:37] huntr-helper opened #249 "🚨 Potential Security Vulnerability - huntr.dev"
#### ⚠️ Potential Vulnerability in DaybydayCRM

👋 Hello, @Bottelet - @ranjit-git has disclosed a potential vulnerability in your repository. To validate or invalidate this potential vulnerability, please visit https://huntr.dev/bounties/3-other-DaybydayCRM and join our community in helping secure open-source code.

---

#### ☎️ Need further support?

Come and join us on our [Discord](https://huntr

[2021-04-18 17:42] huntr-helper opened #250 "🚨 Potential Security Vulnerability - huntr.dev"
#### ⚠️ Potential Vulnerability in DaybydayCRM

👋 Hello, @Bottelet - @ranjit-git has disclosed a potential vulnerability in your repository. To validate or invalidate this potential vulnerability, please visit https://huntr.dev/bounties/4-other-DaybydayCRM and join our community in helping secure open-source code.

---

#### ☎️ Need further support?

Come and join us on our [Discord](https://huntr

[2021-04-19 15:50] Bottelet commented on #250
Hi, I'm gonna need some more information.

Cheers

[2021-04-19 15:50] #250 closed

[2021-04-19 15:50] Bottelet commented on #249
Hi, I'm gonna need some more information.

Cheers

[2021-04-19 15:50] #249 closed

[2021-04-19 15:50] Bottelet commented on #248
Hi @ranjit-git, I'm gonna need some more information.

Cheers

[2021-04-19 15:50] #248 closed

[2021-04-19 15:51] JamieSlome commented on #250
@Bottelet - have you visited the platform URL mentioned in the comment above?

[2021-04-19 15:54] Bottelet commented on #250
I have @JamieSlome, and I'm not interested in signing up to see a bug, That should be reported through GH issues.

[2021-04-19 15:55] ranjit-git commented on #248
@Bottelet  visit above mentioned url https://huntr.dev/bounties/2-other-DaybydayCRM to see bug details .
As i submitted bug through https://huntr.dev , you need to visit their platform to see all bug details .
in that site you need to login with your github account .
Plz let me know if you need more info

[2021-04-19 15:59] ranjit-git commented on #250
Hi, @Bottelet
It is safer to use https://huntr.dev for bug details . Because in github issue vulnerability details wil be public for all .

[2021-04-21 10:51] redx1t commented on #236
Let me look at it and get you a step by step process of reproduction by 24th Apr 2021

[2021-04-22 18:29] redx1t commented on #236
I have reviewed a fresh installation and seem not to be able to reproduce this error. Also, noticed on the installation guide the git link is to flarepoint-crm.git instead of daybyday.git. I am not sure whether or not that is on purpose. Check and correct if it is. I will keep on the platform and IF i am able to reproduce the bug, re open this issue. Thank you :)

[2021-04-22 18:29] #236 closed

[2021-04-24 09:40] #243 closed

[2021-04-24 09:40] Bottelet commented on #247
Hi, @ranjit-git  does the DB exists?

[2021-04-24 12:28] #237 closed

[2021-04-26 11:09] ranjit-git commented on #248
Hi @huntr-helper @Bottelet
it seems this bug is fixed here https://github.com/Bottelet/DaybydayCRM/commit/a5719a23bdc2e29e021e86b97a1116ed1fd683c2

[2021-04-26 11:12] ranjit-git commented on #249
Hi @Bottelet @huntr-helper
it seems this bug is fixed here https://github.com/Bottelet/DaybydayCRM/commit/a5719a23bdc2e29e021e86b97a1116ed1fd683c2
can you plz check/update the ticket ?

[2021-04-26 11:12] ranjit-git commented on #250
Hi @huntr-helper  @JamieSlome @Bottelet
it seems this bug is fixed here https://github.com/Bottelet/DaybydayCRM/commit/a5719a23bdc2e29e021e86b97a1116ed1fd683c2
can you plz check/update the ticket ?

[2021-05-09 17:40] MikeDynamic opened #255 "Composer install issue"
Hi,

I am having issues getting past the composer install or update.
I have tried both the docker server setup and without but get the same error :

` Problem 1
    - laravel/dusk[v5.8.0, ..., v5.11.0] require ext-zip * -> it is missing from your system. Install or enable PHP's zip extension.
    - Root composer.json requires laravel/dusk ^5.8 -> satisfiable by laravel/dusk[v5.8.0, ..., v5.11.0].`

[2021-05-09 17:42] MikeDynamic commented on #255
I should add that I setup a custom docker build with all of the correct extensions including php exit-zip for PHP 7.4 and it made no difference.

[2021-06-12 10:06] prakash084 opened #261 "feature adding"
can we add new features here?

[2021-06-12 10:16] #261 closed

[2021-06-22 10:04] Basilou38 opened #262 "Error command php artisan key:generate"
Hi @Bottelet

I would like to try your CRM, but I cannot install it, I have an error with this command :

`php artisan key:generate`

![Sans titre](https://user-images.githubusercontent.com/31843047/122903861-19e1b980-d350-11eb-8a9d-309b920135f2.png)

[2021-06-27 17:31] zakariaarrid commented on #262
hi @Basilou38

Make sure your .env file exist already

[2021-06-30 15:58] Basilou38 commented on #262
@zakariaarrid
I do not understand.

Here are the files / folder installed
![Capture](https://user-images.githubusercontent.com/31843047/123992917-4d65b900-d9cc-11eb-86c9-5117508c3c1c.JPG)

What to do ?

[2021-06-30 16:10] Basilou38 commented on #262
ok I understand, you have to create the .env file and copy / paste the code from the .env.example file.

the following command to work => php artisan key:generate
but I have a "command not found" error with this command =>  npm install

Sorry, i'm starting ;-)

[2021-07-01 08:15] Basilou38 commented on #262
why the "npm install" command does not work ? @zakariaarrid

[2021-07-08 08:37] TuanAnh266 commented on #200
Hi, i have the same problem, but i store image in public disk not AWS-S3 but why i still got that error, please help :D

[2021-07-28 22:09] RikvanderVaart commented on #177
This issue still giving some problems. Especially with the calls in the ajax code. I added {{asset()}} and managed to solve most breaking links.
However still some. Also the datatable for the leads is not populating. I am not to versed in jquery and ajax so left this one alone for now.

[2021-08-09 22:47] hichxm opened #267 "v3 version with new code from scratch"
Hi, I loved the concept!

It's free, open source and royalty free!

The problem is, the code is pretty messy. To take a simple example, here is a PR #194  to which I wanted to contribute.

The code is very poorly optimized in a lot of places and, above all, there are a lot of security holes. I think if we were redoing structuration with new version is better for future development.

Thank you once

[2021-08-09 22:49] hichxm commented on #267
For example, for the new version, we need to use Laravel standards first.

[2021-08-09 22:50] hichxm commented on #267
If you agree my idea, I help you to develop the new DaybydayCRM !

[2021-08-09 23:01] hichxm commented on #267
Sorry, I forgot to specify that for my business I need a good CRM. Nothing better than to develop it yourself? And even better if we all develop together for all of us?

[2021-09-01 03:07] ugintl opened #270 "Is there any difference between free version and paid version?"
Is there any difference between free version (self hosted) and paid version?

[2021-09-01 17:11] ugintl opened #271 "Install instructions"
On the install instructions, I see `git clone https://github.com/Bottelet/Flarepoint-crm.git` whereas the repo has a url `git clone https://github.com/Bottelet/DaybydayCRM.git` Is it a mistake?

[2021-09-01 17:58] spham commented on #271
good luck install and documentions is not well documented

[2021-09-03 10:59] Bottelet commented on #270
Hi @ugintl

Yes, there is, the paid version is more updated, has other features such as comments on the client, calendar, and many more things. Paid support obviously also comes with hosting and prioritized support. Let me know if you have anything specific in mind, you want to know about.

[2021-09-03 11:01] Bottelet commented on #271
Hi @ugintl

Yes this seems to be a mistake, that is the old repo, I will fix this.

@spham I'm sorry if the documentation for the free version isn't enough to help you get started, many people have had success with the current documentation. Let me know if I can help you with anything. Or else feel free to make a PR to update the documentation.

[2021-09-03 11:01] #271 closed

[2021-09-05 10:57] #270 closed

[2021-09-05 10:57] #247 closed

[2021-09-10 11:46] spham opened #272 "integrity with sqlite"
i have this issue

` SQLSTATE[23000]: Integrity constraint violation: 19 NOT NULL constraint failed: permissions.external_id (SQL: insert into "permissions" ("display_name", "name", "description", "grouping", "updated_at", "created_at") values (Add payment, payment-create, Be able to add a new payment on a invoice, payment, 2021-09-10 11:45:41, 2021-09-10 11:45:41))`

[2021-09-10 21:14] #272 closed

[2021-09-10 21:15] spham opened #273 "very strange, setups is not very good"
all have issue while install.

[2021-09-19 07:02] #273 closed

[2022-01-07 08:55] connected201 opened #283 "Demo site not available"
https://demo.daybydaycrm.com/

500 Server Error

[2022-01-07 19:27] Bottelet commented on #283
@connected201 Thank you fixed!

[2022-01-07 19:27] #283 closed

[2022-01-12 02:45] hktalent opened #284 "Fatal error: require(): Failed opening required '/var/www/html/public/../vendor/autoload.php'"
docker-compose up -d
[http](http://127.0.0.1/index.php)

Warning: require(/var/www/html/public/../vendor/autoload.php): failed to open stream: No such file or directory in /var/www/html/public/index.php on line 20

Fatal error: require(): Failed opening required '/var/www/html/public/../vendor/autoload.php' (include_path='.:/usr/local/lib/php') in /var/www/html/public/index.php on line 20

[2022-01-12 02:53] hktalent commented on #284
https://github.com/Bottelet/DaybydayCRM/wiki/Install-using-Docker
docker-compose exec php composer install
docker-compose exec php php artisan migrate --seed
docker-compose exec php npm install
docker-compose exec php npm run dev

[2022-01-12 02:54] hktalent commented on #284
Illuminate\Database\QueryException
SQLSTATE[HY000] [2002] php_network_getaddresses: getaddrinfo failed: Name or service not known (SQL: select * from `users` where `email` = admin@admin.com and `users`.`deleted_at` is null limit 1)
http://127.0.0.1/index.php/login

[2022-01-14 14:15] rm-yakovenko commented on #284
Hello @hktalent!

Could you try to set `DB_HOST=db` in https://github.com/Bottelet/DaybydayCRM/blob/master/docker-compose.env#L6 ?

[2022-01-15 04:28] hktalent commented on #284
@rm-yakovenko thanks

[2022-01-15 04:28] #284 closed

[2022-01-19 13:42] jakubgs opened #287 "APP_URL being ignored causing Mixed Content errors"
I'm running `2.2.1` in a Docker Container with Nginx proxy, and another Nginx proxy on the host, and I have `APP_URL` set to my public `https://crm.example.org` URL, but I'm still getting "Mixed content" errors when loading the page:

![image](https://user-images.githubusercontent.com/2212681/150140934-28856ee0-72b4-486f-bc5c-4ce1017af9f2.png)

But as far as I can tell the `APP_URL` is the correct

[2022-01-19 13:51] jakubgs opened #288 "How should one create the first user?"
I understand from the docs that it is recommended to create the database schema by calling:
[code]
https://github.com/Bottelet/DaybydayCRM/wiki/Install
https://github.com/Bottelet/DaybydayCRM/wiki/Install-using-Docker

But is the `--seed` part necessary? I tried using it without `--seed` and then creating an admin user with:
[code]
But when I try to login using that user I get:
[code]
But if I try

[2022-01-21 16:23] jakubgs commented on #287
I've managed to make it work by adding this line:
[code]
https://github.com/laravel/laravel/blob/7.x/config/app.php#L57

Inside of the `config/app.php` file by hand. Not sure why it's missing from your configuration.

[2022-01-24 12:19] jakubgs commented on #287
Despite fixing asset URL issues I can still see that `POST` requests - like when creating a project - are still done using HTTP:
[code]
So `APP_URL` is clearly still being ignored.

[2022-01-24 13:27] jakubgs commented on #287
Based on [some](https://laracasts.com/discuss/channels/laravel/getting-mixed-content-error-when-viewing-website-over-https?page=1&replyId=325378) [suggestions](https://coderwall.com/p/g9qkea/mixed-content-issue-content-must-be-served-as-https-in-laravel) [I found](https://laracasts.com/discuss/channels/laravel/mixed-content-issue-content-must-be-served-as-https?page=1&replyId=128451) I've made thi

[2022-01-26 03:16] designamx commented on #288
did you tried seeding the settings first? the missing country field comes from the settings model

[2022-01-26 08:39] jakubgs commented on #288
Yes, I tried both, as you can see from my issue description.

It appears seeding the database is necessary, but it is not doable multiple times, so I have to do an SQL query first - in my case `SELECT name FROM users;` - in order to check if the database was already seeded, and then I call `php artisan db:seed --force --no-interaction
`, because otherwise it would fail during multiple Ansible runs

[2022-01-26 17:13] Bottelet commented on #288
Hi @jakubgs You are right for the production you have to set up by hand. a command to do it would be cool. And I'll gladly accept a PR for it. But for now, it's either by hand DB insert or tinker. Or use db:seed and create and change the user that is created by default.

[2022-01-26 17:13] Bottelet commented on #287
@jakubgs I'm not sure why APP_URL behaves like this I'm sorry. What I've found so far is the solution you mentioned above as well.

[2022-01-26 17:13] #287 closed

[2022-01-26 17:13] #267 closed

[2022-01-26 17:14] #262 closed

[2022-01-26 17:14] #179 closed

[2022-01-26 22:41] jakubgs commented on #287
Why did you close this? This isn't a solution, it's a hack fix. This needs a proper solution added to the codebase.

[2022-01-28 15:38] rm-yakovenko commented on #287
Hi @jakubgs, @Bottelet!

May I throw in my 2 cents?

`APP_URL` config is only used when running in CLI mode. Otherwise, Laravel tries to guess `host` and `schema` from the current request.

https://github.com/laravel/framework/blob/f89fb45325483cb22ddfe51605199ea1725c0cec/src/Illuminate/Foundation/Bootstrap/SetRequestForConsole.php#L16-L34

IMHO, the correct way is to configure Laravel to trust th

[2022-01-28 17:21] jakubgs commented on #287
Right, but that's yet another thing that requires editing config files inside the docker file rather than just setting env vars.

[2022-03-17 08:20] batoolfatima2135 opened #296 "Composer Showing error"
Hey my composer is asking for update and when in run composer update it shows error in one of the package
Laravel/cashier
kindly help me to get over this and guide me what version should I use and what changes I need to make
thanks a lot . reply as soon as possible
![image](https://user-images.githubusercontent.com/61277612/158766706-f07101da-73a7-4da5-9eab-2346ed3b4d8e.png)

[2022-03-21 12:28] rm-yakovenko commented on #296
Hello @batoolfatima2135!

Try using XAMPP with php 7.4.

As far as I know, this project does not support php 8 currently.

[2022-04-01 05:15] ranjit-git opened #298 "potential security vulnerability"
@Bottelet
A potential security vulnerability has been disclosed for this repo .
Plz visit report url https://huntr.dev/bounties/5-other-Bottelet/DaybydayCRM/  to  validate the bug .
This bug has been opened for long time

[2022-04-26 05:56] iabhiyaan opened #300 "Page Expired Issue"
https://daybydaycrm.com/ shows page expired when login

[2022-06-30 09:26] relesssar opened #308 "change locale"
fresh install
Changing language in setting page /settings
Table in DB also changed [settings]
But no effect in frontend

tried change string in resources/lang/en.json - new string appears in frontend, but dk.json, es.json no effect

[2022-08-31 09:13] dharmikvyas opened #312 "composer require error"
Hello,
I want to add CRM to my existing school management software.
I am getting following error.
[code]

[2022-08-31 14:07] Bottelet commented on #312
This is a standalone app, not something you can really require for another application.

[2022-09-02 04:10] dharmikvyas commented on #312
Ok.. :(

[2022-09-02 04:10] #312 closed

[2022-10-07 10:01] KFMDMSolutions opened #313 "js and css files aren't loading"
getting 404 not found

![image](https://user-images.githubusercontent.com/86687136/194528287-e140afb5-286d-42c9-8a4a-151932c47a1f.png)

![image](https://user-images.githubusercontent.com/86687136/194528422-340fdc44-4598-4cbe-ad8f-6d51ec0049e4.png)

[2022-11-20 01:44] ptaylor2 opened #319 "Install issue"
Hello

I am trying to install Bottelet and on Ubuntu 20.x and I am having this issue. How can I fix it please?

php artisan migrate --seed
Migration table created successfully.
Migrating: 2014_10_12_000000_create_users_table
Migrated:  2014_10_12_000000_create_users_table (1.53 seconds)
Migrating: 2014_10_12_100000_create_password_resets_table
Migrated:  2014_10_12_100000_create_password_resets_ta

[2022-11-20 01:50] ptaylor2 commented on #298
Have these bugs been fixed. Running Ubuntu 20.x

  npm audit fix --force

Run `npm audit` for details.
apps:/var/www/apps.professionalsoftwaredevelopment.com/projectmanager# npm audit fix --force
npm WARN using --force Recommended protections disabled.
npm WARN audit fix minimatch@3.0.4 node_modules/fsevents/node_modules/minimatch
npm WARN audit fix minimatch@3.0.4 is a bundled dependency of
npm W

[2022-11-30 03:32] xuelangqingkong opened #320 "ERROR: docker compose exec php php artisan migrate --seed"
Dear Casper

Firstly, thank you very much for your generous work here.
I tried to install the software on my Centos 7 but got the error when try to run
"docker compose exec php php artisan migrate --seed "
The error is like this:

Do you know what is wrong here ?
Thank you very much.